<%= form_for([:cpanel,@site_config]) do |f| %>
  <fieldset>
    <legend></legend>
    <%= render 'shared/error_messages', :target => @site_config %>
    <div class="clearfix">
      <%= f.label :key %>
      <div class="input">
        <%= f.text_field :key, :class => "disabled", :disabled => "disabled" %>
        <span class="help-inline"><%= t("cpanel.site_configs.please_do_not_modify_key")%></span>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :value %>
      <div class="input">
        <%= f.text_area :value, :class => "long", :rows => "20" %>
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="actions">
      <%= f.submit t("common.save"), :class => "btn primary" %>
      <a href="<%= cpanel_site_configs_path %>" class="btn">取消</a>
    </div>
  </fieldset>
<% end %>
