<%= simple_form_for([:cpanel,@site_config]) do |f| %>
  <%= render 'shared/error_messages', target: @site_config %>
    <div class="form-group">
      <label class="control-label">Var</label>
      <%= @site_config.var  %>
    </div>
    <div class="form-group">
      <label class="control-label">说明</label>
      <%= t("site_config.#{@site_config.var}")  %>
    </div>
    <%= f.input :value, as: :text, input_html: { rows: "20" } %>
    <div class="form-group">
      <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <a href="<%= cpanel_site_configs_path %>" class="btn"><%= t("common.cancel") %></a>
    </div>
<% end %>
