<% title_tag t('menu.teams')%>
<div id="teams" >
  <div id="hot_teams" class="team-list p-4 bg-white rounded">
    <div class="flex justify-between">
      <strong class="text-lg"><%= t("users.hot_teams") %></strong>
      <div class="hidden-mobile"><%= t("users.current_have") %> <%= @total_team_count %> <%= t("users.teams_joined") %> <%= Setting.app_name %></div>
    </div>
    <div class="py-4">
      <%= render "team_list", teams: @active_teams %>
    </div>
  </div>
</div>
