<% title_tag t('menu.teams')%>
<div id="teams" >
  <div id="hot_teams" class="team-list card">
    <div class="card-header">
      <strong><%= t("users.hot_teams") %></strong>
      <div class="pull-right hidden-mobile"><%= t("users.current_have") %> <%= @total_team_count %> <%= t("users.teams_joined") %> <%= Setting.app_name %></div>
    </div>
    <div class="card-body">
      <%= render "team_list", teams: @active_teams %>
    </div>
  </div>
</div>
