<% title_tag t("teams.new_team") %>
<div class="flex flex-col md:flex-row justify-center gap-4">  
  <div class="w-full md:w-2/3">
    <div class="p-4 bg-white rounded">
        <%= form_for @team do |f| %>
          <%= render "shared/error_messages", target: @team %>
          <div class="form-group">
            <%= f.label :login %>
            <div class="input-group">
              <span class="input-group-text"><%= Setting.base_url %>/</span>
              <%= f.text_field :login, class: "form-control", placeholder: ":slug" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :bio %>
            <%= f.text_area :bio, class: "form-control", rows: 3 %>
          </div>
          <div class="form-group">
            <%= f.submit t("teams.new_team"), class: "btn btn-primary btn-block", 'data-disable-with' => t("common.saving") %>
          </div>
          <div class="form-text">
            如你发现你的公司或团队名称被抢注，可以尝试联系管理员，我们可以尽可能的协调。
          </div>
        <% end %>
    </div>
  </div>
