<% title_tag t("teams.new_team") %>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for @team do |f| %>
          <%= render "shared/error_messages", target: @team %>

          <%= f.input :login, placeholder: user_url('xxx').gsub('xxx', ':slug') %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :bio, as: :text %>

          <div class="form-group">
            <%= f.submit t("teams.new_team"), class: "btn btn-primary btn-block", 'data-disable-with' => t("common.saving") %>
          </div>

          <div class="form-group">
            如你发现你的公司或团队名称被抢注，可以尝试联系管理员，我们可以尽可能的协调。
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-heading"><%= t('teams.teams')%></div>
      <ul class="list-group">
        <li class="list-group-item">公司／组织品牌展示；</li>
        <li class="list-group-item">独立的组织首页；</li>
        <li class="list-group-item">汇集成员在社区里面的话题；</li>
        <li class="list-group-item">为团队招揽人才；</li>
      </ul>
    </div>
  </div>
</div>
