<%= simple_form_for([:admin,@page]) do |f| %>
  <%= render "shared/error_messages", target: @page %>
  <fieldset>
    <legend>Wiki页面编辑</legend>
    <%= f.input :locked, as: :boolean, hint: "锁定后，前台非管理员将无法修改。" %>
    <%= f.input :slug %>
    <%= f.input :title, input_html: { class: "xxlarge" } %>
    <%= f.input :body, as: :text, input_html: { class: "span8", rows: "30"} %>
    <div class="form-actions">
      <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
    </div>
<% end %>
