<%= form_for [:admin,@comment] do |f| %>
  <%= render "/shared/error_messages", target: @comment %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %> or
    <%= link_to t("common.cancel"), admin_comments_path, class: "btn" %>
  </div>
<% end %>
