<div class="card-title">
  <div><%= icon_tag("plug") %> <%= @plugin.display_name %></div>
  <div class="counter"><%= @plugin.version %></div>
  <div class="actions">
    <%= link_to t("common.back"), admin_plugins_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
<form class="form">
  <div class="form-group">
    <code><%= @plugin.source_path.sub(Rails.root.to_s, "${Rails.root}") %></code>
  </div>
  <% if @plugin.url %>
    <div class="form-group">
      <%= link_to @plugin.url %>
    </div>
  <% end %>
  <div class="form-group">
    <% if @plugin.navbar_link %>
      <span class="badge badge-primary">Navbar Link</span>
    <% end %>
    <% if @plugin.user_menu_link %>
      <span class="badge badge-primary">User menu link</span>
    <% end %>
    <% if @plugin.admin_path %>
      <span class="badge badge-primary">Admin panel</span>
    <% end %>
  </div>
  <p>
    <%= @plugin.description %>
  </p>
</form>
