<%= form_for([:cpanel,@photo] , :html => { :enctype =>  "multipart/form-data" }) do |f| %>
  <fieldset>
    <legend></legend>
  <%= render 'shared/error_messages', :target => @photo %>

  <div class="clearfix">
    <%= f.label :image %><div class="input">
    <%= f.file_field :image %></div>
  </div>
  <div class="actions">
    <%= f.submit t("common.upload"), :class => "btn primary", :disable_with => t("common.uploading") %>
    or
    <%= link_to 'Back', photos_path %>
  </div>
<% end %>
