<% content_for :sitemap do %>
  <a href="<%= cpanel_photos_path %>"><%= t("cpanel.menu.photos")%></a> &gt; <span class="current"><%= t("cpanel.check_photo")%></span>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @photo.user.login %>
</p>
<p>
    <%= image_tag(@photo.image.url) %>
</p>


<%= link_to 'Edit', edit_cpanel_photo_path(@photo) %> |
<%= link_to 'Back', cpanel_photos_path %>
