<% content_for :sitemap do %>
  <a href="<%= cpanel_photos_path %>">图片</a> &gt; <span class="current">查看图片</span>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>
<p>
  <b>User:</b>
  <%= @photo.user.name %>
</p>
<p>
  <b>Image file size:</b>
  <%= @photo.image_file_size %>
</p>
<p>
	<%= image_tag(@photo.image(:normal)) %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
