<% content_for :sitemap do %><span class="current">加入社区</span><% end %>

<div class="row">
  <div class="col-md-5 col-md-offset-1" style="margin-top: 50px;">
    <div class="connect-with-github">
      <h2 class="center"><%= t("common.auth_with_other_services") %></h2>
      <%= link_to raw("<i class='fa fa-github'></i> GitHub"), omniauth_authorize_path(:user, :github), class: "btn btn-default btn-lg btn-block" %> 
    </div>
  </div>

  <div class="col-md-5" style="border-left: 1px solid #e5e5e5;">
    <div class="account-panel">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t("common.login") %></div>
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>
          <div class="form-group">
            <%= f.text_field :login, type: :email, class: "form-control input-lg", placeholder: "用户名 / Email" %>
          </div>
          <div class="form-group">
            <%= f.text_field :password, type: :password, class: "form-control input-lg", placeholder: "密码" %>
          </div>
          <div class="form-group">
            <div class="input-group">
              <%= rucaptcha_input_tag(class: 'form-control input-lg', placeholder: t('common.captcha')) %>
              <span class="input-group-addon input-group-captcha"><a class="rucaptcha-image-box" href="#"><%= rucaptcha_image_tag %></a></span>
            </div>
          </div>
          <div class="form-group">
              <%= f.submit t("common.login"), class: "btn btn-primary btn-lg btn-block", 'data-disable-with' => t("common.logining") %>
          </div>
          <% if devise_mapping.rememberable? -%>
          <div class="from-group checkbox">
              <label for="user_remember_me">
                <%= f.check_box :remember_me %> <%= t("common.remember_me") %>
              </label>
              <div class="account-option">
                <%= render partial: "devise/shared/links" %>
              </div>
          </div>
          <% end -%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
