<% content_for :sitemap do %><span class="current">加入社区</span><% end %>
<div class="content">
    <div class="box">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend><%= t("common.login") %></legend>
        <%= f.input :login %>
        <%= f.input :password %>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <label class="control-label"></label>
              <div class="inputs-list"><label for="user_remember_me"><%= f.check_box :remember_me, :style => "width:auto;" %> <%= t("common.remember_me") %></label></div>
            </div>
          </div>
        <% end -%>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
          <%= f.submit t("common.login"), :class => "btn btn-primary", 'data-disable-with' => t("common.logining") %></div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<div class="sidebar">
  <div class="box">
    <h2>还没有帐号？</h2>
    <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="box">
        <h2>用其他平台的帐号登录</h2>
        <ul>
          <li><%= link_to "Github", user_omniauth_authorize_path(:github) %> </li>
        </ul>
    </div>
</div>
