<%= simple_form_for(@note, class: "form-horizontal") do |f| %>
    <%= render "shared/error_messages", target: @note %>
    <div class="form-group">
      <div class="editor-toolbar">
          <ul class="nav nav-pills" style="clear:none;">
            <li class="edit active"><%= link_to(t("common.editor_toolbar_edit"), "#") %></li>
            <li class="preview"><%= link_to(t("common.editor_toolbar_preview"), "#") %></li>
          </ul>
      </div>
    </div>

    <div class="form-group">
      <%= f.text_area :body, class: "form-control", rows: 20 %>
    </div>

    <div class="form-group">
      <label class="control-label" for="note_publish"><%= f.check_box :publish %> <%= t("common.public")%></label>
      <p class="help-block">
      <%= t("notes.please_use") %> <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> <%= t("notes.document_format_to_write") %>
      </p>
    </div>

    <div class="form-group">
      <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <a href="<%= notes_path %>" class="btn btn-default"><%= t("common.cancel") %></a>
    </div>
<% end %>
