<%= simple_form_for(@note, html: { class: "" }) do |f| %>
    <%= render "shared/error_messages", target: @note %>

    <div class="edit-tools">
      <%= render "/shared/editor_toolbar" %>
    </div>

    <div class="form-group">

      <%= f.text_area :body, rows: 20, class: 'form-control topic-editor' %>

      <p class="help-block">
        <%= t("notes.please_use") %> <a href="<%= markdown_path %>" target="_blank">Markdown</a> <%= t("notes.document_format_to_write") %>
      </p>
    </div>

    <div class="form-group">
      <label class="control-label" for="note_publish"><%= f.check_box :publish %> <%= t("common.public")%> <span class="text-danger"><i class="fa fa-warning"></i> 除非你选择公开，否则此 Note 的所有内容将是保密的！<span></label>
    </div>

    <div class="form-actions">
      <div class="row">
        <div class="col-sm-3">
          <%= f.submit t("common.save"), class: "btn btn-primary btn-lg btn-block", 'data-disable-with' => t("common.saving") %>
        </div>
        <div class="col-sm-2">
          <%= link_to t("common.cancel"), notes_path, class: "btn btn-default btn-lg btn-block" %>
        </div>
      </div>
    </div>
<% end %>
