<%= render 'base' %>
<div class="content">
  <div id="notes" class="box">
    <h1>我的记事本</h1>
    <div class="total">已有 <%= current_user.notes.count %> 条记事</div>
    <% if @notes.blank? %>
      <div style="text-align:center; padding:60px 0;">你还没有创建过一个文件。</div>
    <% else %>
      <ul class="list">
      <% @notes.each do |note| %>
        <li>
          <div><a class="title" href="<%= note_path(note.id) %>"><%= truncate(note.title, :length => 50) %></a> <%= raw '<span class="label warning">公开</span>' if note.publish %></div>
          <div class="info">
            <%= note.word_count %> <%= t("notes.chars") %>, 由 <%= user_name_tag(note.user) %><%= raw t("notes.created_at", :time => timeago(note.created_at)) %> , <%= note.changes_count %> <%= t("notes.times_edit") %>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>
    <%= will_paginate @notes %>
  </div>
</div>

<%= render "sidebar" %>
