<%= render 'base' %>
<div id="notes" class="box">
  <div class="note">
    <% if @note.publish %>
    <div class="pull-right urls">
      <em>本页地址:</em> <input type="text" onclick="$(this).select();" value="<%= note_url(@note) %>" readonly="readonly" />
    </div>
    <% end %>
    <div class="info">
      <p><%= raw '<span class="label warning">公开</span> ' if @note.publish %>共 <%= @note.word_count %> 个字符, 创建于 <%= timeago(@note.created_at) %>, <%= @note.changes_count %> 次编辑, by <%= user_name_tag(@note.user) %></p>
    </div>

    <div class="body"><%= markdown @note.body %></div>
    
    <% if owner? @note %>
      <div class="buttons">
        <a href="<%= edit_note_path(@note) %>" class="btn"><%= t("common.edit")%></a>
        <%= link_to t("common.delete"), note_path(@note),:confirm => "确定要删除吗？", :method => :delete, :class => "btn danger"  %>
      </div>
    <% end %>
  </div>
</div>


