<% title_tag 'Resend confirmation instructions' %>

<div class="flex justify-center">
  <div class="w-full sm:w-2/3 md:w-1/2">
    <div class="card card-lg">
      <div class="card-body">
        <div class="card-title">Resend confirmation instructions</div>
        <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), method: :post do |f| %>
        <%= render "shared/error_messages", target: resource %>

        <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-actions">
            <%= f.submit "Resend confirmation instructions" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
