<div class="reply" id="reply<%= reply_counter + 1 %>">
  <div class="pull-left face"><%= user_avatar_tag(reply.user, :normal) %></div>
  <div class="infos">
    <div class="info">
      <span class="name"><%= user_name_tag(reply.user) %></span>
      <span class="time">
        <%= reply_counter + 1 %><%= t("common.floor")%>, <%= raw t("common.reply_at", :time => timeago(reply.created_at)) %>
        <% if can?(:update,reply) %>
          <%= link_to("", edit_topic_reply_path(@topic,reply), :class => "edit icon small_edit", 'data-uid' => reply.user_id, :title => "修改回帖")%>
        <% end %>
        <%= link_to("", "#",
            'data-floor' => reply_counter + 1, 'data-login' => reply.user.login,
            :title => t("topics.reply_this_floor"), :class => "icon small_reply" )
        %>
      </span>
    </div>
    <div class="body">
      <%= raw reply.body_html %>
    </div>
  </div>
</div>
