<%= render "/topics/base" %>
<% content_for :sitemap do %>
  <span class="current">修改回帖</span>
<% end %>
<div class="sidebar">
  <div class="box">
    回帖所在文章:<br />
    <%= render_topic_title(@reply.topic) %>
  </div>
</div>
<div class="content">
    <div class="box">
        <%= form_for(@reply) do |f| %>
        <fieldset>
          <legend>修改回帖</legend>
      <%= render "shared/error_messages", :target => @reply %>  
      <div class="clearfix">
        <%= f.label :body %>
        <div class="input">
        <%= f.text_area :body, :class => "topic_body_text_area xxlarge", :rows => "20" %>
        </div>
      </div>
      <div class="actions">
        <button class="btn primary">保存更新</button>
        <a href="<%= topic_path(@reply.topic_id) %>" class="btn"><%= t("common.cancel") %></a>
      </div>
    <% end %>
    </div>
</div>
