<%= render '/topics/base' %>
<% content_for :sitemap do %>
  <span class="current">修改回帖</span>
<% end %>

<div class="leftbox">
	<div class="box">
		<h1>修改回帖</h1>
		<%= form_for(@reply) do |f| %>
      <%= render "shared/error_messages", :target => @reply %>  
      <div class="clearfix">
        <%= f.label :body %><br />
        <%= f.text_area :body, :class => "topic_body_text_area long", :style => "height:400px" %>
      </div>
      <div class="actions">
        <button class="button submit">保存</button>
      </div>
    <% end %>
	</div>
</div>
<div class="sidebar">
  <div class="box">
    回帖所在文章:<br />
    <a href="<%= topic_path(@reply.topic_id) %>"><%= @reply.topic.title %></a>
  </div>
</div>