<%= render "/topics/base" %>

<div class="sidebar">
  <div class="box">
    <%= t("reply.topic_location")%>:<br />
    <%= render_topic_title(@reply.topic) %>
  </div>
</div>
<div class="content">
    <div class="box">
        <%= form_for([@topic,@reply]) do |f| %>
        <fieldset>
          <legend><%= t("reply.edit_reply")%></legend>
      <%= render "shared/error_messages", :target => @reply %>  
      <div class="edit_tools">
        <%= render "/topics/editor_toolbar" %>
      </div>
      <div class="clearfix">
        <%= f.label :body %>
        <div class="input">
          <%= f.text_area :body, :class => "topic_editor xxlarge", :rows => "20" %>
        </div>
      </div>
      <div class="actions">
        <button class="btn primary"><%= t("common.save")%></button>
        <a href="<%= topic_path(@topic) %>" class="btn"><%= t("common.cancel") %></a>
      </div>
    <% end %>
    </div>
</div>
