<div class="sidebar">
  <div class="box">
    <%= t("reply.topic_location")%>:<br />
    <%= topic_title_tag(@reply.topic) %>
  </div>
  <div class="box">
    <%= render_cell :topics, :reply_help_block %>
  </div>
</div>
<div class="content">
  <div class="box">
    <%= simple_form_for([@topic, @reply]) do |f| %>
      <%= render "shared/error_messages", :target => @reply %>
      <div class="control-group edit_tools">
        <%= render "/topics/editor_toolbar" %>
      </div>
      <div class="control-group">
        <%= f.text_area :body, :class => "topic_editor" %>
      </div>
      <div class="control-group">
        <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>

        <% if can? :destroy, @reply %>
          <%= link_to "删除",[@topic,@reply], :class => "pull-right btn btn-danger", :method => :delete, :data => { :confirm => "确定要删除此回复么？" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
