<h1>Listing replies</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Body</th>
    <th>User</th>
    <th>State</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replies.each do |reply| %>
  <tr>
    <td><%= reply.topic_id %></td>
    <td><%= reply.body %></td>
    <td><%= reply.user_id %></td>
    <td><%= reply.state %></td>
    <td><%= reply.source %></td>
    <td><%= link_to 'Show', reply %></td>
    <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
    <td><%= link_to 'Destroy', reply, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reply', new_reply_path %>
