<%
  comment = notification.target
  second_target = notification.second_target
%>
<% if second_target.blank? %>
  <div class="media-body"><%= t("notifications.source_deleted") %></div>
<% else %>
  <%
  case notification.second_target_type
  when "Post" %>
  <% if respond_to?(:homeland_press) %>
    <div class="media-heading">
      <%= t("notifications.mention_title_html", url: homeland_press.post_path(second_target), title: second_target.title) %>
    </div>
    <div class="media-content summary markdown">
      <%= comment.body_html %>
    </div>
  <% end %>
  <% when "Page" %>
  <% if respond_to?(:homeland_wiki) %>
    <div class="media-heading">
      <%= t("notifications.mention_title_html", url: homeland_wiki.page_path(second_target), title: second_target.title) %>
    </div>
    <div class="media-content summary markdown">
      <%= comment.body_html %>
    </div>
  <% end %>
<% end %>
<% end %>
