<div id="admin_location" class="form">

<%= form_for [:admin,@location] do |f| %>
  <%= render "/shared/error_messages", target: @location  %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :users_count %>
    <%= f.text_field :users_count, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit t("common.save"), class: "btn btn-primary" %> or <%= link_to t("common.cancel"), admin_locations_path %>
  </div>
<% end %>
</div>
