<%= render 'base' %>

<div id="admin_locations">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>#</td>
      <td>地名</td>
      <td>会员数</td>
      <td class="opts"></td>
    </tr>
    <% @locations.each do |item| %>
    <tr class="<%= cycle("","even") %>">
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.users_count %></td>
      <td>
        <%= link_to "", edit_admin_location_path(item.id), class: "fa fa-pencil" %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= paginate @locations %>
</div>
