<div id="admin_site_node" class="form">

<%= simple_form_for([:admin,@site_node]) do |f| %>
  <%= render "/shared/error_messages", target: @site_node  %>
  <fieldset>
    <legend><%= t("common.edit") %></legend>
      <%= f.input :name %>
      <%= f.input :sort %>
      <div class="form-actions">
      <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      or
      <%= link_to t("common.cancel"), admin_site_nodes_path %>
    </div>
  </fieldset>
<% end %>
</div>
