<%= render 'base' %>

<div class="toolbar">
  <a href="<%= new_admin_site_node_path %>" class="btn btn-small btn-success">新建</a>
</div>

<div id="admin_site_nodes">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>#</td>
      <td>名称</td>
      <td>排序</td>
      <td class="opts"></td>
    </tr>
    <% @site_nodes.each do |item| %>
    <tr class="<%= cycle("","even") %>">
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.sort %></td>
      <td>
        <%= link_to "", edit_admin_site_node_path(item.id), class: "fa fa-pencil" %>
        <%= link_to "", admin_site_node_path(item.id), method: :delete, 'data-confirm' => '确定要删除吗?', class: "fa fa-trash" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
