<%= content_for :sitemap do %>
  <li class="active">聊天室</li>
<% end %>
<%= content_for :styles do %>
  <%= stylesheet_link_tag "talk", :cache => "cached_talk" %>
<% end %>
<%= content_for :scripts do %>
  <% if current_user %>
  <%= meta_tag "handle", current_user.name %>
  <% end %>
  <%= javascript_include_tag :juggernaut, "chats" %>
<% end %>

<div id="sidebar" class="sidebar">
  <div class="box">
    <h2>房间列表</h2>
    <ul id="nodes">
    </ul>
  </div>
</div>
<div class="vdivide"></div>
<div id="content" class="content">
  <div id="chats" class="box">
    <ul class="items">
    </ul>
    
    <div class="new">
      <textarea></textarea>
      <button class="btn">发送</button>
    </div>
  </div>
  
  <div id="searches" class="box">
    <h2>搜索结果: <span class="query"></span></h2>
    <ul class="items"></ul>
  </div>
  
  <div id="settings" class="box">
    <h2>房间列表</h2>
    <ul class="nodes">    
    </ul>
  </div>
</div>

<%= script_template "chat" %>
<%= script_template "nodes" %>
<%= script_template "edit_node" %>
<%= script_template "search" %>
</body>
</html>