<% content_for :sitemap do %><span class="current">设置</span><% end %>
<div class="sidebar">
  <div class="box" style="text-align:center;">
    <%= user_avatar_tag(@user, 120, :link => false) %> <br />如需修改头像，请进入 <a href="http://www.gravatar.com">gravatar.com</a>
  </div>
  <div class="box">
		<h2>绑定其他帐号用于登陆</h2>
		<ul>
		  <% ["twitter","google","github","douban"].each do |provider| %>
			<li>
			  <% if @user.bind? provider %>
  			  <a href="/auth/<%= provider %>/unbind" rel="twitsy" title="点击解除绑定"><%= provider.titleize %></a>
  			  <span class="label success">已绑定</span>
  			<% else %>
    			<a href="/auth/<%= provider %>" rel="twitsy" title="点击绑定"><%= provider.titleize %></a>
			  <% end %>
			</li>
			<% end %>
		</ul>
	</div>
  <div class="box">
    <h2>删除我的帐号</h2>
    <p>不喜欢? <%= link_to "删除此帐号", registration_path(resource_name), :confirm => "删除后无法恢复，你确定吗?", :class => "btn danger", :method => :delete %></p>
  </div>
  
</div>
<div class="content">
  <div class="box">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :enctype =>  "multipart/form-data" }) do |f| %>
      <fieldset>
        <legend>个人资料</legend>
      	<%= render "shared/error_messages", :target => resource %> 
      	<div class="clearfix">
    	    <%= f.label :login %>
    	    <div class="input">
    	      <%= f.text_field :login, :class => "span3" %><br >
    	      <span class="help-block"><span class="label warning">谨慎修改</span> 此项将会影响回复信息关联,建议用 Twitter ID</span>
          </div>
      	</div>
        <div class="clearfix">
      	  <%= f.label :email %>
      	  <div class="input">
        	  <%= f.text_field :email, :class => "span6" %>
        	</div>
      	</div>
      	<div class="clearfix">
      	  <%= f.label :location %>
      	  <div class="input">
        	  <%= f.text_field :location, :class => "span3" %>
        	</div>
      	</div>
      	<div class="clearfix">
      		<%= f.label :github %>
      		<div class="input">
        		<%= f.text_field :github, :class => "span3" %>
        		<span class="help-block">http://github.com/<span class="label success">:youname</span></span>
        	</div>
      	</div>
      	<div class="clearfix">
      		<%= f.label :website %>
      		<div class="input">
        		<%= f.text_field :website, :class => "xxlarge", :placeholder => "http://" %>
        	</div>
      	</div>
      	<div class="clearfix">
      		<%= f.label :tagline %>
      		<div class="input">
        		<%= f.text_field :tagline, :class => "xxlarge" %>
        	</div>
      	</div>
      	<div class="clearfix">
      		<%= f.label :bio %>
      		<div class="input">
        		<%= f.text_area :bio, :class => "xxlarge", :rows => "6" %>
        	</div>
      	</div>
      	<div class="actions">
      		<%= f.submit "更新资料", :class => "btn primary" %>
      	</div>
      </fieldset>
    <% end %>
  </div>
  <div class="box">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
      	<legend>修改密码</legend>
      	<div class="clearfix">
          <%= f.label :current_password %>
          <div class="input">
            <%= f.password_field :current_password %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>        
      	<div class="actions">
      		<%= f.submit "修改密码", :class => "btn success" %>
      	</div>
    	</fieldset>
  	<% end %>
  </div>
</div>


