<%= form_for([:cpanel,@user], :html => { :enctype =>  "multipart/form-data" }) do |f| %>
   <%= render 'shared/error_messages', :target => @user %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => "short" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "middle" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
	<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :qq %><br />
    <%= f.text_field :qq %>
  </div>
  <div class="field">
    <%= f.label :tagline %><br />
    <%= f.text_field :tagline, :class => "middle" %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, :class => "middle", :style => "height:60px;" %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>
  <% if !@user.avatar_file_name.blank? %>
  <div class="field">
    <label>预览</label><br />
    <img src="<%= @user.avatar.normal.url %>" />
  </div>
  <% end %>
  <div class="field">
    <%= f.label :verified %>
    <%= f.check_box :verified, :class => "checkbox" %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, User::STATE.collect { |s| [s[0],s[1]] } %>
  </div>
  <div class="field">
    <%= f.label :last_login_at %><br />
    <%= f.text_field :last_login_at, :readonly => true %>
  </div>
  <div class="actions">
    <button class="button submit">保存</button> <%= link_to 'Back', cpanel_users_path %>
  </div>
<% end %>
