<% content_for :sitemap do %>
  <span class="current">用户</span>
<% end %>
<h1>Listing users</h1>

<table class="grid">
  <tr class="head">
    <td class="first">Email</td>
    <td>Name</td>
    <td>Location</td>
    <td>State</td>
    <td>QQ</td>
    <td></td>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="first"><%= user.email %></td>
    <td><%= user.name %></td>
    <td><%= user.location %></td>
    <td><%= user.state %></td>
    <td><%= link_to 'Edit', edit_cpanel_user_path(user) %>
    <%= link_to 'Destroy', cpanel_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @users %>
<br />

<%= link_to 'New User', new_cpanel_user_path %>
