<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Passwd:</b>
  <%= @user.passwd %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Avatar file name:</b>
  <%= @user.avatar_file_name %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Qq:</b>
  <%= @user.qq %>
</p>

<p>
  <b>Last logined at:</b>
  <%= @user.last_logined_at %>
</p>

<p>
  <b>Tagline:</b>
  <%= @user.tagline %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
