<h1>欢迎加入<%= Setting.app_name %>, <%= @user.login %></h1>
<p>
  你已经成功在<%= Setting.domain %>注册了账号,
  请使用你的邮件: <%= @user.email %> 用于登录.<br/>
</p>
<p>
  登录页面地址: <a href='<%= login_url %>'><%= login_url %></a>.
</p>
