<h1>欢迎加入<%= Setting.app_name %></h1>
<div class="box">
  <label>你好 <%= @user.login %>,</label><br />
  你已经成功在 <a href="<%= root_url %>"><%= Setting.app_name %></a> 注册了账号。
</div>
<div class="box">
  <label>登录页面地址: </label><a href='<%= new_user_session_url %>'><%= new_user_session_url %></a>.
</div>
