<div class="comment media">
  <div class="media-left avatar"><%= user_avatar_tag(item.user, :md) %></div>
    <div class="media-body">
      <div class="info media-heading">
        <%= user_name_tag(item.user) %> <%= t("common.published_at") %> <%= timeago(item.created_at) %>
      </div>
      <div class="body markdown">
        <%= item.body_html %>
      </div>
    </div>
</div>
