<div class="tab-pane active" id="pages">
  <% pages.each do |page| %>
    <div class="page">
      <div class="title"><%= link_to(page.title, page_path(page.title)) %></div>
      <div class="info"><%= t("common.last_modified_at") %> <%= render_page_updated_at(page) %></div>
      <div class="summary">
        <%= truncate(page.body, :length => 300) %>
      </div>
    </div>
  <% end %>
 
</div>


<script type="text/javascript">
  $(".tab-content").highlight("<%= @q %>");
</script>