<div class="topic">
  <div class="title"><%= link_to(search_result_highlight(hit, :title), topic_path(topic)) %></div>
  <div class="url"><%= link_to(topic_url(topic), topic_path(topic)) %></div>
  <div class="info">
    <%= t("common.published_at")%> <%= timeago(topic.created_at) %> <%= t("common.reply_count")%>: <%= topic.replies_count %>
  </div>
  <div class="summary">
    <%= search_result_highlight(hit, :body) %>
  </div>
</div>