<%= render "base" %>

<div class="box">
  <%= render "menu" %>
  <div class="tab-content">
    <div class="tab-pane active" id="pages">
    <% unless @search.results.blank? %>
      <% @search.each_hit_with_result do |hit, result| %>
        <%= render "page", :page => result, :hit => hit %>
      <% end %>
    <% else %>
      <div class="page">
        <%= t("common.no_search_result") %>
      </div>
    <% end %>
    </div>
    <%= will_paginate @search.results %>
  </div>
</div>

