<div class="user-profile-card">
  <div class="flex">
    <div class="avatar-box"> 
      <%= user_avatar_tag(user, :md) %>
    </div>
    <div class="flex-grow-1 flex justify-content-between">
      <%= link_to user, class: "name-box" do %>
        <div class="fullname">
          <%= user.name %>
        </div>
        <div class="login">
          <%= "@#{user.login}" %>
        </div>
      <% end %>
      <% if user.online? %>
      <div class="w-2 h-2 rounded bg-green-600" title="<%= t('common.online')%>"></div>
      <% end %>
    </div>
  </div>
  <% if user.tagline.present? %>
    <div class="item tagline"><%= user.tagline %></div>
  <% end %>
  <hr>
  <div class="item social">
    <% if !user.twitter.blank? %>
      <%= link_to icon_bold_tag("twitter"), user.twitter_url, class: "twitter", rel: "nofollow" %>
    <% end %>
    <% if Setting.has_module? :github %>
      <% if !user.github.blank? %>
        <%= link_to icon_bold_tag("github"), user.github_url, target: '_blank', rel: 'nofollow' %>
      <% end %>
    <% end %>
    <% if !user.website.blank? %>
      <%= link_to icon_tag("globe"), user.website_url, target: '_blank', rel: 'nofollow' %>
    <% end %>
  </div>
  <% if !user.company.blank? %>
    <div class="item company">
      <%= user.company %>
    </div>
  <% end %>
  <% if !user.location.blank? %>
    <div class="item location">
      <%= user.location %>
    </div>
  <% end %>
  <% if !owner? user %>
    <hr>
    <div class="item buttons flex items-center">
      <%= follow_user_tag(user) %>
    </div>
  <% end %>
</div>
