<%= render 'base' %>
<div class="toolbar clearfix">
  <span class="pull-right">
    <%= link_to "清空所有记录", clean_admin_exception_logs_path, class: "btn btn-small btn-danger", data: { confirm: "确定要删除本页的所有异常记录么？" }, method: "post" %>
  </span>
</div>

<div id="admin_exception_logs">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td style="min-width:40px;">#</td>
      <td><%= t("activerecord.attributes.exception_log.title") %></td>
      <td style="min-width:145px;">时间</td>
      <td class="opts"></td>
    </tr>
    <% @exception_logs.each do |item| %>
    <tr id="exception_log_<%= item.id %>" class="<%= cycle("","even") %>">
      <td><%= item.id %></td>
      <td><%= link_to item.title, admin_exception_log_path(item.id) %></td>
      <td><%= l(item.created_at, format: :long) %></td>
      <td>
        <%= link_to "", admin_exception_log_path(item.id), method: :delete, data: { remote: true, confirm: "是否确定要删除？" }, class: "fa fa-trash" %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @exception_logs %>
</div>
