<%= simple_form_for([:cpanel,@post]) do |f| %>
  <%= render 'shared/error_messages', :target => @post %>
  <fieldset>
    <legend></legend>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :user_id %>
    <%= f.input :tag_list %>
    <%= f.input :source %>
    <%= f.input :source_url %>
    <%= f.input :state, :collection => Post.state_collection %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", :disable_with => t("common.saving") %>
      or
      <%= link_to 'Back', cpanel_posts_path %>
    </div>
  </fieldset>
<% end %>
