<%= content_for :styles do %>
	<%= stylesheet_link_tag "topics", :cache => "cached_topics" %>
<% end %>
<%= content_for :base_sitemap do %>
  <% if !@node.blank? %>
  <li><a href="<%= node_topics_path(:id => @node.id) %>"><%= @node.name %></a> <span class="divider">/</span></li>
  <% end %>
<% end %>