<%= simple_form_for @topic, :wrapper => :inline do |f| %>
  <fieldset>
    <legend><%= @topic.new_record? ? "新建帖子" : "修改帖子" %></legend>
    <%= render "shared/error_messages", :target => @topic %>  
    <div class="clearfix">
      <%= f.label :title %>
      <div class="input">
        <span class="span3"<%= " style=display:none;" if !@node.blank? %>>
            <%= f.select :node_id, Node.recent.collect { |n| [n.name,n.id] },{}, :style => "width:140px;" %>
        </span>
        <span class="span7">
          <%= f.text_field :title, :style => "width:300px" %>
        </span>
      </div>
    </div>
    
    <div class="edit_tools">
         <%= link_to("上传图片", "#", :onclick => "return Topics.addImageClick();", :id => "add_image")%>
    </div>
    
    <%= f.input :body, :as => :text, :input_html => { :class => "topic_body_text_area xxlarge", :style => "height:400px" }%>

    <div class="actions">
      <input type="submit" value="<%= t("common.save") %>" class="btn primary"> 
      <%= link_to("取消", @topic.id.blank? ? root_path : topic_path(@topic), :class => "btn")%>
    </div>
  </fieldset>
<% end %>
