<%= simple_form_for @topic do |f| %>
  <%= render "shared/error_messages", :target => @topic %>
  <div class="control-group">
    <% if @topic.lock_node == false || admin? %>
      <span class="node_select span2">
        <%= render_topic_node_select_tag(@topic) %>
      </span>
    <% end %>
    <%= f.text_field :title, :class => "span5", placeholder: "在这里填写标题" %>
  </div>
  
  <div class="control-group edit_tools">
    <%= render "editor_toolbar" %>
  </div>
  
  <div class="control-group">
    <%= f.text_area :body, :class => "topic_editor closewarning" %>
  </div>

  <div class="control-group">
    <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
  </div>
<% end %>
