<%= simple_form_for @topic, :wrapper => :inline do |f| %>
  <fieldset>
    <legend><%= @topic.new_record? ? t("topics.create_topic") : t("topics.edit_topic") %></legend>
    <%= render "shared/error_messages", :target => @topic %>  
    <%= f.input :title do %>
      <span class="span3">
        <%= render_topic_node_select_tag(@topic) %>
      </span>
      <span class="span6">
        <%= f.text_field :title %>
      </span>
    <% end %>
    
    <div class="edit_tools input">
      <%= render "editor_toolbar" %>
    </div>    
    <%= f.input :body, :as => :text, :input_html => { :class => "topic_editor closewarning xxlarge", :style => "height:400px" }%>

    <div class="actions">
      <%= f.submit t("common.save"), :class => "btn primary", :disable_with => t("common.saving") %>
      <%= link_to(t("common.cancel"), @topic.id.blank? ? root_path : topic_path(@topic), :class => "btn")%>
    </div>
  </fieldset>
<% end %>
