<%= simple_form_for @topic do |f| %>
  <%= render "shared/error_messages", :target => @topic %>  
  <fieldset>
    <legend><%= @topic.new_record? ? t("topics.create_topic") : t("topics.edit_topic") %></legend>
    <%= f.input :title do %>
      <span class="node_select">
        <%= render_topic_node_select_tag(@topic) %>
      </span>
      <%= f.text_field :title, :class => "span4" %>
    <% end %>
    
    <div class="control-group edit_tools">
      <label class="control-label"></label>
      <div class="controls">
        <%= render "editor_toolbar" %>
      </div>
    </div>
    <%= f.input :body, :as => :text, :input_html => { :class => "topic_editor closewarning xxlarge", :style => "height:400px" }%>

    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", :disable_with => t("common.saving") %>
      <%= link_to(t("common.cancel"), @topic.id.blank? ? root_path : topic_path(@topic), :class => "btn")%>
    </div>
  </fieldset>
<% end %>
