<%= form_for @topic, remote: true, class: "form", html: { tb: 'edit-topic' } do |f| %>
  <%= render "shared/error_messages", target: @topic %>
  <%= f.hidden_field :node_id %>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend mr-1">
        <%= f.select :node_id, Node.sorted.name_options, {}, class: "bootstrap-select", data: { "live-search": true } %>
      </div>
      <%= f.text_field :title, class: "form-control", placeholder: "在这里填写标题" %>
    </div>
  </div>

  <%= render "/shared/editor_toolbar" %>

  <div class="form-group">
    <%= f.text_area :body, class: "topic-editor form-control", rows: 20 %>
  </div>

  <% if Setting.has_module?(:team) %>
    <% if current_user.team_options.any? %>
    <div class='form-group'>
      <%= f.select :team_id, current_user.team_options, { include_blank: "不要关联组织" }, { class: "bootstrap-select", data: { "live-search": true } } %>
    </div>
    <% end %>
  <% end %>

  <div class="form-actions hide-ios">
    <%= f.submit t("common.save"), class: "btn btn-primary", style: "min-width: 200px", 'data-disable-with' => t("common.saving"), 'data-tb' => "save-topic" %>

    <div class="pull-right hide-ios"><a href="/markdown" target="_blank"><i class="fa fa-life-ring"></i> 排版说明</a></div>
  </div>
<% end %>
