<%= simple_form_for @topic do |f| %>
  <%= render "shared/error_messages", target: @topic %>
  <div class="form-group">
    <div class="input-group">
    <% if @topic.lock_node == false || admin? %>
      <span class="node-select input-group-btn">
        <%= render_topic_node_select_tag(@topic) %>
      </span>
    <% end %>
      <%= f.text_field :title, class: "form-control", placeholder: "在这里填写标题" %>
    </div>
  </div>

  <div class="form-group edit-tools">
    <%= render "editor_toolbar" %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: "topic-editor form-control closewarning", rows: 20 %>
  </div>

  <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
<% end %>
