<%= simple_form_for @topic, html: { role: 'form' } do |f| %>
  <%= render "shared/error_messages", :target => @topic %>
  <div class="form-group">
    <% if @topic.lock_node == false || admin? %>
      <div class="node_select col-md-3">
        <%= render_topic_node_select_tag(@topic) %>
      </div>
    <% end %>
    <div class="col-md-9">
      <%= f.text_field :title, placeholder: "在这里填写标题", class: 'form-control' %>
    </div>
  </div>
  
  <div class="control-group edit_tools">
    <%= render "editor_toolbar" %>
  </div>
  
  <%= f.text_area :body, :class => "topic_editor closewarning" %>

  <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
<% end %>
