<% content_for :scripts do %>
<script type="text/javascript">
	function appendImageFromUpload(srcs){
     txtBox = $(".topic_body_text_area");
     for(var i=0;i<srcs.length;i++){
       txtBox.val(txtBox.val() + '[img]'+srcs[i]+'[/img]\n');
     }
     txtBox.focus();
     $("#add_image").jDialog.close();
   }

   function addImageClick(){
     $("#add_image").jDialog({
       title:"插入图片",
       width:"350", 
       height:"130", 
       content: '<iframe src="<%= tiny_new_photos_path %>" frameborder="0" style="width:330px; height:130px;"></iframe>',
       close_on_body_click : false
     });
     return false;
   }
</script>
<% end %>
<%= form_for(@topic) do |f| %>
  <fieldset>
    <legend><%= @topic.id.blank? ? "新建帖子" : "修改帖子" %></legend>
    <%= render "shared/error_messages", :target => @topic %>  
    <%= f.hidden_field :node_id %>
    <div class="clearfix">
      <%= f.label :title %>
      <div class="input">
        <%= f.text_field :title, :class => "span7" %>
      </div>
    </div>
     <div class="edit_tools">
    		<a href="#" onclick="return addImageClick();" id="add_image">上传图片</a>
    	</div>
    <div class="clearfix">
      <%= f.label :body %>
      <div class="input">
        <%= f.text_area :body, :class => "topic_body_text_area xxlarge", :style => "height:400px" %>
      </div>
    </div>
    <div class="actions">
      <input type="submit" value="保存" class="btn primary"> <a href="<%= root_path %>" class="btn">取消</a>
    </div>
  </fieldset>
<% end %>
