<% if !node.blank? %>
  <% content_for :sub_navbar do %>
  <div class="sub-navbar node-header">
    <div class="container">
      <div class="title">
        <%= node.name %>
        <span class="total">共有 <%= node.topics_count %> 个讨论主题</span>
        <div class="pull-right">
          <% if node.collapse_summary? %>
          <a class="btn btn-default" data-toggle="collapse" href="#node-summary"><i class="fa fa-lightbulb-o"></i> 节点介绍</a>
          <% end %>
          <%= block_node_tag(node) %>
        </div>
      </div>
      <div class="summary<%= ' collapse' if node.collapse_summary? %>" id="node-summary">
        <%= sanitize_markdown node.summary_html %>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="filter pull-right">
    <span class="l">查看:</span>
    <a data-turbolinks-action="replace" href="<%= topics_path %>"<%= " class=active" if action_name == "index" %>>默认</a> /
    <a data-turbolinks-action="replace" href="<%= popular_topics_path %>" class="popular<%= " active" if action_name == "popular"  %>"><i class="fa fa-diamond"></i> 优质帖子</a> /
    <a data-turbolinks-action="replace" href="<%= no_reply_topics_path %>" <%= " class=active" if action_name == "no_reply"  %>>无人问津</a> /
    <a data-turbolinks-action="replace" href="<%= recent_topics_path %>" <%= " class=active" if action_name == "recent"  %>>最新创建</a>
  </div>
<% end %>
