<% if !node.blank? %>
  <div>
    <h2><%= node.name %></h2>
    <span class="total">共有 <%= render_node_topics_count(node) %> 个讨论主题</span>
    <div class="feed">
      <%= link_to("#{content_tag(:span, "", class: "icon share_icons_rss" )}".html_safe, feed_node_topics_url, title: "#{node.name} Feed") %>
    </div>
  </div>
  <div class="desc">
    <%= simple_format(node.summary) %>
  </div>
<% else %>
  <div class="sorts">
    <span class="lb">查看:</span>
    <ul>
      <li<%= " class=active" if action_name == "index"  %>><%= link_to "默认", topics_path %></li> /
      <li<%= " class=active" if action_name == "popular"  %>>
        <%= link_to raw("<i class='icon small_liked'></i> 优质帖子"), popular_topics_path, class: "popular" %>
      </li> /
      <li<%= " class=active" if action_name == "no_reply"  %>><%= link_to "无人问津", no_reply_topics_path, rel: 'nofollow' %></li> /
      <li<%= " class=active" if action_name == "recent"  %>><%= link_to "最新创建", recent_topics_path, rel: 'nofollow' %></li>
    </ul>
  </div>
<% end %>
