<div class="reply" id="reply<%= i + 1 %>">
  <div class="pull-left face"><%= user_avatar_tag(item.user, :normal) %></div>
  <div class="infos">
    <div class="info clearfix">
      <span class="name"><%= user_name_tag(item.user) %></span>
      <span class="time"><%= i + 1 %>楼, 回复于 <%= timeago(item.created_at) %>
        <% if owner?(item) %>
            <%= link_to(t("common.edit"), edit_reply_path(item))%>
        <% end %>
        <%= link_to(image_tag("reply.png"), "#", 
            :onclick => "return Topics.reply(#{i+1},'#{item.user.login}' );", 
            :title => "回复此楼", :class => "reply_link" )
        %>
      </span>
    </div>
    <div class="body">
      <%= format_topic_body(item.body, :mentioned_user_logins => item.mentioned_user_logins) %>
    </div>
  </div>
</div>
