<%= render "/shared/editor_toolbar" %>
<%= form_for(Reply.new, url: topic_replies_path(@topic), remote: true, id: "new_reply") do |f| %>

  <div class="form-group">
    <%= f.text_area :body, class: "topic-editor form-control", rows: "4", tabindex: "1" %>
  </div>
  <%= f.hidden_field :reply_to_id %>
  <div class="submit-buttons">
    <button type="submit" id="reply-button" class="btn btn-primary" tabindex="2", data-disable-with='<%= t("topics.submit_reply") %>'><%= t("topics.submit_reply")%></button>
    <span class="help-inline" style="padding-left: 5px;" title="Ctrl + Enter"><kbd>Command</kbd> + <kbd>Enter</kbd></span>

    <div class="float-right"><a href="/markdown" target="_blank"><%= t("topics.form.markdown_guides") %></a></div>
  </div>
<% end %>
