<div class="reply" id="reply<%= i + 1 %>">
  <div class="pull-left face"><%= user_avatar_tag(item.user, :normal) %></div>
  <div class="infos">
    <div class="info clearfix">
      <span class="name"><%= i + 1 %>楼, <%= user_name_tag(item.user) %>  回复于 <%= timeago(item.created_at) %></span>
      <span class="time">
        <% if owner?(item) %>
          <%= link_to("", edit_reply_path(item), :class => "icon small_edit", :title => "修改回帖") %>
        <% end %>
        <%= link_to("", "#",
            :onclick => "return Topics.reply(#{i+1},'#{item.user.login}' );", 
            :title => "回复此楼", :class => "icon small_reply")
        %>
      </span>
    </div>
    <div class="body">
      <%= format_topic_body(item.body, :mentioned_user_logins => item.mentioned_user_logins) %>
    </div>
  </div>
</div>
