<%= render "/shared/editor_toolbar" %>
<%= form_with(model: Reply.new, remote: true, url: topic_replies_path(@topic), id: "new_reply") do |f| %>

  <div class="form-group">
    <%= f.text_area :body, class: "topic-editor form-control", rows: "4", tabindex: "1" %>
  </div>
  <%= f.hidden_field :reply_to_id %>
  <div class="submit-buttons">
    <button type="submit" id="reply-button" class="btn btn-primary" tabindex="2", data-disable-with='<%= t("topics.submit_reply") %>'><%= t("topics.submit_reply")%></button>
    <span class="help-inline" style="padding-left: 5px;" title="或者 Ctrl + Enter"><kbd>Command</kbd> + <kbd>Enter</kbd></span>

    <div class="pull-right"><a href="/markdown" target="_blank">排版说明</a></div>

    <% if @topic.belongs_to_nickname_node? %>
      <span class="help-inline" style="margin-left: 20px;">
        <label>
          <%= f.check_box :anonymous %>  <%= t("topics.real_name") %>
        </label>
      </span>
    <% end %>
    <span class="help-inline">
      <label>
        <%= f.check_box :exposed_to_author_only %>  <%= t("topics.exposed_to_author_only") %>
      </label>
    </span>
  </div>
<% end %>
