<%if Setting.editor == 'simditor'%>
<%else%>
  <%= render "/shared/editor_toolbar" %>
<%end%>

<%= form_with(model: Reply.new, remote: true, url: topic_replies_path(@topic), id: "new_reply") do |f| %>
  <%if Setting.editor == 'simditor'%>
    <div class="form-group reply-simditor-area">
      <%= f.text_area :body, class: "simditor-textarea simditor-textarea-simplified"%>
    </div>
  <%else%>
    <div class="form-group">
      <%= f.text_area :body, class: "topic-editor form-control", rows: "4", tabindex: "1" %>
    </div>
  <%end%>

  <%= f.hidden_field :reply_to_id %>
  <div class="submit-buttons">
    <button type="submit" id="reply-button" class="btn btn-primary" tabindex="2", data-disable-with='<%= t("topics.submit_reply") %>'><%= t("topics.submit_reply")%></button>
    <span class="help-inline" style="padding-left: 5px;" title="或者 Ctrl + Enter"><kbd>Command</kbd> + <kbd>Enter</kbd></span>

    <%if Setting.editor == 'simditor'%>
    <%else%>
      <div class="pull-right"><a href="/markdown" target="_blank">排版说明</a></div>
    <%end%>
  </div>
<% end %>
