<div class="sidebar">
<% if ["show","new","edit","node"].index(params[:action]) %>
  <div class="box">
    <h2><a href="<%= node_topics_path(@node) %>"><%= @node.name %></a></h2>
    <% if ["new"].index params[:action] %>
    <p class="sumamry">
      <%= @node.summary %>
    </p>
    <% end %>
    <div class="content">
      <a class="btn success" href="<%= new_topic_path(:node => @node.id) %>">发布新帖</a>
    </div>
  </div>
<% elsif params[:action] == "index" %>
  <div class="box">
    <p>
      发贴请先进入一个节点以后点击“发布新帖”。
    </p>
		<p style="text-align:center;">
			<a href="<%= feed_topics_url %>" title="用RSS阅读器订阅<%= Setting.app_name %>论坛新贴">
				<%= image_tag('feed.png', :alt => "订阅#{Setting.app_name}论坛新贴") %></a>
		</p>
  </div>
<% end %>

<%= cache("topic/init_list_sidebar/hot_nodes",:expires_in => 30.minutes) do %>
  <% if not @hot_nodes.blank? %>
  <div class="hot_nodes nodes box">
    <h2>热门节点</h2>
    <ul>
      <% @hot_nodes.each do |node| %>
        <li><a href="<%= node_topics_path(:id => node.id) %>"><%= node.name %></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

<% if ["new"].index(params[:action]) %>
  <div id="topic_new_tip" class="box">
    <h2>发贴说明</h2>
    <%= render "body_help_block" %>
  </div>
<% end %>
<% if params[:action] == "index" %>
<div class="totals box">
	<h2>统计信息</h2>
	<ul>
		<li>社区会员: <%= User.cached_count %> 人</li>
		<li>贴子数: <%= Topic.cached_count %> 个</li>
		<li>回贴数: <%= Reply.cached_count %> 条</li>
	</ul>
</div>
<% end %>
</div>
