<div id="ruby-group-promote" class="box">
  <div id="feedGadget">Loading...</div>
</div>

<% content_for(:scripts) do  %>
<!-- welcome page sidebar js -->
<script src="http://www.google.com/jsapi/?key=<%= Setting.google_js_api_key %>"
  type="text/javascript"></script>
<%= javascript_include_tag("gfdynamicfeedcontrol") %>
<script type="text/javascript">
  function showGadget() {
    var feeds = [
     {title:'<%= t("common.hot_topics") %>',
      url:'<%= Setting.external_feed_url%>'}];

    new GFdynamicFeedControl(feeds, 'feedGadget',
                             {numResults : 5, stacked : true,
                              title: "<%= Setting.external_feed_name %>"});
  }
  google.load("feeds", "1");
  google.setOnLoadCallback(showGadget);
</script>
<% end %>