<div id="topic-sidebar" data-spy="affix" data-offset-bottom="65" class="fixed md:w-60 lg:w-72">
  <div class="card mb-4">
    <div class="card-body">
      <%= render ProfileCardComponent.new(user: @topic.user) %>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="buttons">
        <div class="group likes opts">
          <%= likeable_tag(@topic) %>
        </div>
        <div class="group">
          <div class="opts">
            <%= topic_follow_tag(@topic) %>
            <%= topic_favorite_tag(@topic) %>
            <% if can?(:manage, @topic) || can?(:close, @topic) %>
              <span class="dropdown">
                <a href="#" data-bs-toggle ="dropdown">
                  <%= icon_tag("ellipsis-v") %>
                </a>
                <%= render "menu" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
      <div class="group">
        <%= social_share_button_tag h("#{@topic.title}") %>
      </div>
      <hr>
      <div class="reply-buttons">
        <div class="total">
          <%= t("topics.total_replies_html", count: @topic.replies_count) %>
        </div>
        <%= reward_user_tag(@topic.user) %>
      </div>
    </div>
  </div>
  <div class="notify-updated">
    <a class="update" href="#"><i class="fa fa-bell-o"></i> <%= t("topics.new_reply_received_html") %></a>
  </div>
</div>
