<div class="panel-heading media clearfix">
  <div class="media-body">
    <h1 class="media-heading">
      <%= render_node_name(topic.node_name, topic.node_id) %>
      <%= topic.title %>
      <%= topic_close_tag(topic) %>
    </h1>
    <% content_for :header do %>
      <div class="navbar-nav">
        <div class="navbar-topic-title">
          <a href="#" class="topic-title pull-left" title="<%= topic.title %>" data-type="top">
            <h1><span class="node"><%= topic.node_name %></span> <%= topic.title %><%= topic_close_tag(topic) %></h1>
          </a>
        </div>
      </div>
    <% end %>
    <div class="info">
      <%= user_name_tag(topic.user, data: { author: true }) %>
      <% if topic.team %>
      for <%= user_name_tag(topic.team) %>
      <% end %>
       ·
      <%= raw t("common.created_at", time: timeago(topic.created_at))%>
      <% if !topic.last_reply_user_login.blank? %>
         ·
        <%= t("common.last_by")%> <%= user_name_tag(topic.last_reply_user_login) %> <%= raw t("common.reply_at", time: timeago(topic.replied_at))%>
      <% end %>
       ·
      <%= topic.hits %> <%= t("common.read_times")%>
    </div>
  </div>
  <div class="avatar media-right">
    <%= user_avatar_tag(@topic.user, :md) %>
  </div>
</div>
