<div class="topic topic_line">
  <div class="pull-left avatar">
    <%= user_avatar_tag(topic.user,:normal) %>
  </div>
  <div class="right_info">
    <div class="pull-right replies">
      <% if topic.replies_count > 0 %>
        <% read_state = current_user.try(:topic_read?,topic) %>
        <%= link_to(topic.replies_count,topic_path(topic)+"#reply#{topic.replies_count}",
          :class => "count state_#{read_state || false}"
        )%>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <%= link_to(truncate(topic.title, :length => 100), topic_path(topic), :title => topic.title) %>
        <%= topic_excellent_tag(topic) %>
      </div>
      <div class="info">
        <% if action_name != "node" %>
        <%= render_node_name(topic.node_name,topic.node_id) %>
        •
        <% end %>
        <%= user_name_tag(topic.user) %>
        <em>
          •
          <% if topic.last_reply_user_login.blank? %>
            <%= raw t("common.created_at", :time => timeago(topic.created_at))%>
          <% else %>
            <%= t("common.last_by")%> <%= user_name_tag(topic.last_reply_user_login) %> <%= raw t("common.reply_at", :time => timeago(topic.replied_at))%>
          <% end %>
        </em>
      </div>
    </div>
  </div>
</div>