<div class="infos">
        <h1><%= truncate(topic.title, :length => 100) %></h1>
        <div class="info leader">
           <%= timeago(topic.created_at) %>  由 <%= user_name_tag(topic.user) %>
            在 <%= render_node_name(topic.node) %> 节点中发起
        </div>
        <div class="info time">
            <% if topic.last_reply_user.blank? %>
                发布于 <%= render_topic_created_at(topic) %>
            <% else %>
                最后由 <%= user_name_tag(topic.last_reply_user) %> 回复于 <%= timeago(topic.replied_at) %>
            <% end %>
            , <%= topic.hits %>次阅读
        </div>
    </div>            
</div>