<div class="infos">
  <div class="pull-right avatar_large">
    <%= user_avatar_tag(@topic.user, :normal) %>
  </div>
  <h1 class="entry-title"><%= truncate(topic.title, length: 100) %></h1>
  <div class="info leader">
    <%= render_node_name(topic.node_name,topic.node_id) %>
     路 
    <%= user_name_tag(topic.user, data: { author: true }) %>
     路 
    <%= sanitize t("common.created_at", time: timeago(topic.created_at))%>
    <% if !topic.last_reply_user_login.blank? %>
       路 
      <%= t("common.last_by")%> <%= user_name_tag(topic.last_reply_user_login) %> <%= sanitize t("common.reply_at", time: timeago(topic.replied_at))%>
    <% end %>
     路 
    <%= topic.hits %><%= t("common.read_times")%>
  </div>
</div>
