<div class="panel-heading media clearfix">
  <div class="media-body">
    <h1 class="media-heading">
      <%= topic.title %>
      <%= topic_close_tag(topic) %>
    </h1>
    <% content_for :header do %>
      <div class="navbar-nav">
        <div class="navbar-topic-title">
          <a href="#" class="topic-title pull-left" data-type="top">
            <h1><%= topic.title %><%= topic_close_tag(topic) %></h1>
          </a>
          <span class="node"><%= topic.node_name %></span>
        </div>
      </div>
    <% end %>
    <div class="info">
      <%= render_node_name(topic.node_name,topic.node_id) %>
       路
      <%= user_name_tag(topic.user, data: { author: true }) %>
      <% if topic.team %>
      for <%= user_name_tag(topic.team) %>
      <% end %>
       路
      <%= raw t("common.created_at", time: timeago(topic.created_at))%>
      <% if !topic.last_reply_user_login.blank? %>
         路
        <%= t("common.last_by")%> <%= user_name_tag(topic.last_reply_user_login) %> <%= raw t("common.reply_at", time: timeago(topic.replied_at))%>
      <% end %>
       路
      <%= topic.hits %> <%= t("common.read_times")%>
    </div>
  </div>
  <div class="avatar media-right">
    <%= user_avatar_tag(@topic.user, :md) %>
  </div>
</div>
