<%= render 'base' %>
<%= render 'sidebar' %>
<div class="content">
    <div class="box">
    <div id="node_info">
      <% if !@node.blank? %>
        <div>
          <h2><%= @node.name %></h2>
          <span class="total">共有 <%= @node.topics_count %> 个讨论主题</span>
        </div>
        <div class="desc">
          <%= simple_format @node.summary %>
        </div>
      <% else %>
        <h1><%= Setting.app_name %></h1>
      <% end %>
    </div>

    <div class="topics">
      <% @topics.each do |topic| %>
        <div class="topic topic_line">
          <div class="pull-left avatar">
            <%= user_avatar_tag(topic.user,:normal) %>
          </div>
          <div class="right_info">
            <div class="pull-right replies">
              <% if topic.replies_count > 0 %>
              <% read_state = current_user.topic_read?(topic) if current_user %>
              <a href="<%= topic_path(topic.id) %><%= "#reply#{topic.replies_count}" %>" rel="twipsy" title="<%= topic_use_readed_text(read_state) if current_user %>" class="count state_<%= read_state || false %>">
              <%= topic.replies_count %>
              </a>
              <% end %>
            </div>
            <div class="infos">
              <div class="title"><a href="<%= topic_path(topic) %>" title="<%= topic.title %>"><%= truncate(topic.title, :length => 100) %></a></div>
              <div class="info leader">
                由 <%= user_name_tag(topic.user) %>
                在 <a href="<%= node_topics_path(topic.node_id) %>"><%= topic.node.name %></a> 中发起
              </div>
              <div class="info time">
                <% if topic.last_reply_user.blank? %>
                  发布于 <%= timeago(topic.created_at) %>
                <% else %>
                  最后由 <%= user_name_tag(topic.last_reply_user) %> 回复于 <%= timeago(topic.replied_at) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      
    <% if ["index","search"].include?(action_name) %>
      <div class="more">
        <a href="<%= recent_topics_path %>">查看更多最近发布的帖子...</a>
      </div>
    <% else %>
      <%= will_paginate1 @topics %>
    <% end %>
    </div>
    
    <% if action_name == "index" %>
      <%= render_cell :topics, :index_sections %>
    <% end %>
</div>

