<%= render "base" %>

<div class="sidebar">
    <%= render "sidebar_for_topic_index" if action_name == "index" %>
    <%= render "sidebar_for_topic_recent" if action_name == "recent" %>
    <%= render "sidebar_for_topic_node" if action_name == "node" %>
</div>

<div class="content">
    <div class="box">
    <div id="node_info">
      <%= render "node_info", :node => @node %>
    </div>

    <div class="topics">
      <% @topics.each do |topic| %>
        <div class="topic topic_line">
          <div class="pull-left avatar">
            <%= user_avatar_tag(topic.user,:normal) %>
          </div>
          <div class="right_info">
            <div class="pull-right replies">
              <% if topic.replies_count > 0 %>
              <% read_state = current_user.topic_read?(topic) if current_user %>
             <%= link_to(topic.replies_count,topic_path(topic)+"#reply#{topic.replies_count}",
                  :rel => "twipsy",
                  :title => "#{topic_use_readed_text(read_state) if current_user}",
                  :class => "count state_#{read_state || false}"
              )%>
            <% end %>
            </div>
            <div class="infos">
              <div class="title">
                  <%= link_to(truncate(topic.title, :length => 100), topic_path(topic), :title => topic.title) %>
              </div>
              <div class="info leader">
                由 <%= user_name_tag(topic.user) %>
                在 <%= render_node_name(topic.node) %> 中<%= t("common.create_item")%>
              </div>
              <div class="info time">
                <% if topic.last_reply_user.blank? %>
                  <%= raw t("common.created_at", :time => timeago(topic.created_at))%>
                <% else %>
                  <%= t("common.last_by")%> <%= user_name_tag(topic.last_reply_user) %> <%= raw t("common.reply_at", :time => timeago(topic.replied_at))%>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
     
      
    <% if ["index","search"].include?(action_name) %>
      <div class="more">
        <%= link_to(t("topics.check_recent_topics"), recent_topics_path)%>
      </div>
    <% else %>
      <%= will_paginate1 @topics %>
    <% end %>
    </div>
    
    <% if action_name == "index" %>
      <%= render_cell :topics, :index_sections %>
    <% end %>

    <% if !@node.blank? %>
      <% content_for :node_feed_link do %>
        <%= auto_discovery_link_tag(:rss, feed_node_topics_url, :title => "#{@node.name}節點最新話題") %>
      <% end %>
    <% end %>

</div>

