<%= render 'base' %>
<% content_for :sitemap do %>
	<a href="<%= node_topics_path(@topic.node_id) %>"><%= @topic.node.name %></a> &gt;
  <span class="current">查看贴子</span>
<% end %>

<div class="leftbox">
	<div class="topics box">
		<table>
			<tr class="topic noborder">		    
		    <td>
					<h1><%= truncate(@topic.title, :length => 100) %></h1>
					<p class="info leader">
						由 <a href="<%= user_path(@topic.user_id) %>"><%= @topic.user.name %></a> 
						在 <%= @topic.node.name %> 中发起
					</p>
					<p class="info time">
						<% if @topic.last_reply_user.blank? %>
							发布于 <%= time_ago_in_words(@topic.created_at) %>
						<% else %>
							最后由 <a href="<%= user_path(@topic.last_reply_user_id) %>"><%= @topic.last_reply_user.name %></a> 回复于 <%= time_ago_in_words(@topic.replied_at) %>
						<% end %>
					</p>
				</td>
				<td class="avatar">
					<%= image_tag(@topic.user.avatar(:large)) %>
				</td>
		  </tr>
		</table>
		<div class="body">
			<%= format_topic_body(@topic.body) %>
		</div>
	</div>
  <% if @replies.blank? %>
    <div class="no_result">
      暂无回复。
    </div>
  <% else %>
  <div id="replies" class="box">
    <div class="total">
      截止 <%= l @topic.replied_at, :format => :default %> 共收到 <%= @topic.replies_count %> 条回复
    </div>
    <% @replies.each_with_index do |reply,i| %>
      <div class="reply">
      <table>
       <tr>
          <td class="face"><%= user_avatar_tag(reply.user, :normal) %></td>
          <td>
            <div class="info clearfix">
              <span class="name"><%= user_name_tag(reply.user) %></span>
              <span class="time">回复于 <%= time_ago_in_words(reply.created_at) %>前, #<%= i + 1 %></span>
            </div>
            <div class="body">
              <%= format_topic_body(reply.body,"",false) %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    <% end %>
  </div>
  <% end %>
  <div id="reply" class="form box">
    <%= notice_message %>
    <h2>回复</h2>
    <% form_for(Reply.new,:url => reply_topic_path(params[:id])) do |f| %>
      <div class="field">
        <%= f.text_area :body,:class => "long", :style => "height:80px;" %>
      </div>
      <div class="buttons">
        <button type="submit" class="button submit">提交回复</button>
      </div>
    <% end %>
  </div>
</div>
<%= render 'sidebar' %>
