<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Node:</b>
  <%= @topic.node_id %>
</p>

<p>
  <b>Body:</b>
  <%= @topic.body %>
</p>

<p>
  <b>User:</b>
  <%= @topic.user_id %>
</p>

<p>
  <b>Replies count:</b>
  <%= @topic.replies_count %>
</p>

<p>
  <b>Last reply user:</b>
  <%= @topic.last_reply_user_id %>
</p>

<p>
  <b>Replied at:</b>
  <%= @topic.replied_at %>
</p>

<p>
  <b>Source:</b>
  <%= @topic.source %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
