<% title_tag '重新发送解锁邮件' %>

<div class="flex justify-center">
  <div class="w-full sm:w-2/3 md:w-1/2">
    <div class="card card-lg">
      <div class="card-body">
        <div class="card-title"><%= t('users.resend_unlock_mail') %></div>

        <%= form_for resource, as: resource_name, url: unlock_path(resource_name), method: :post do |f| %>
          <%= render "shared/error_messages", target: resource %>

          <div class="form-group">
            <%= f.text_field :email, class: "form-control form-control-lg", placeholder: "Email" %>
          </div>

          <div class="form-actions">
            <%= f.submit t('users.resend_unlock_mail'), class: 'btn btn-primary btn-lg btn-block', 'data-disable-with' => t("common.submitting") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
