<%
  case notification.mentionable
  when Reply
%>
  <%
    reply = notification.mentionable
    topic = reply.topic
  %>
  <div class="media-left avatar">
    <%= user_avatar_tag(reply.user, :normal) %>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <span class="user">
        <%= user_name_tag(reply.user) %>
      </span>
      在
      <%= topic_title_tag(topic) %>
      提及你：
      <% if !notification.read? %>
        <span class="new label label-warning">新</span>
      <% end %>
    </div>
    <%- if reply.present? -%>
      <div class="summary markdown">
        <%= sanitize_markdown reply.body_html %>
      </div>
    <%- end -%>
  </div>
<% when Topic %>
  <%
    topic = notification.mentionable
  %>
  <div class="media-left avatar">
    <%= user_avatar_tag(topic.user, :normal) %>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <span class="user">
        <%= user_name_tag(topic.user) %>
      </span>
      在
      <%= topic_title_tag(topic) %>
      提及你：
      <% if !notification.read? %>
        <span class="new label warning">新</span>
      <% end %>
    </div>
    <%- if topic.present? -%>
      <div class="summary markdown">
        <%= sanitize_markdown topic.body_html %>
      </div>
    <%- end -%>
  </div>
<% end %>
