<% reply = notification.reply %>
<% if reply.blank? %>
  <div class="media-body">相关信息已删除</div>
<% else %>
  <%
    topic = reply.topic
  %>
  <div class="media-left avatar">
    <%= user_avatar_tag(reply.user, :normal) %>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <span class="user">
        <%= user_name_tag(reply.user) %>
      </span>
      <span class="info">在帖子
      <%= topic_title_tag(topic, reply: reply) %> 回复了：</span>
      <% if !notification.read? %>
        <span class="new label label-warning">新</span>
      <% end %>
      <span class="date pull-right"><i class="fa fa-clock-o"></i> <%= timeago(notification.created_at) %></span>
    </div>
    <%- if reply.present? -%>
      <div class="summary markdown">
        <%= raw reply.body_html %>
      </div>
    <%- end -%>
  </div>
<% end %>
