<%= render 'base' %>
<div class="tools">
  <%= link_to "删除本页所有记录", clean_cpanel_exception_logs_path(ids: @exception_logs.collect(&:id).join(",")), class: "btn btn-small btn-danger", data: { confirm: "确定要删除本页的所有异常记录么？" }, method: "post" %>
</div>
<h1><%= t("mongoid.models.exception_log") %></h1>

<div id="cpanel_exception_logs">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td style="min-width:40px;">编号</td>
      <td><%= t("mongoid.attributes.exception_log.title") %></td>
      <td style="min-width:145px;">时间</td>
      <td class="opts"></td>
    </tr>
    <% @exception_logs.each do |item| %>
    <tr id="exception_log_<%= item.id %>" class="<%= cycle("","even") %>">
      <td><%= item.id %></td>
      <td><%= link_to item.title, cpanel_exception_log_path(item.id) %></td>
      <td><%= l(item.created_at, format: :long) %></td>
      <td>
        <%= link_to "", cpanel_exception_log_path(item.id), method: :delete, data: { remote: true, confirm: "是否确定要删除？" }, class: "icon small_delete" %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @exception_logs %>
</div>
