<%= form_for([:cpanel,@section]) do |f| %>
<fieldset>
  <legend></legend>
  <%= render 'shared/error_messages', :target => @section %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :sort %>
    <div class="input">
      <%= f.text_field :sort %>
    </div>
  </div>
  <div class="actions">
    <button class="btn primary"><%= t("common.save") %></button> <%= link_to 'Back', cpanel_sections_path %>
  </div>
  </fieldset>
<% end %>
