<%= form_for([:cpanel,@section]) do |f| %>
  <%= render 'shared/error_messages', :target => @section %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sort %><br />
    <%= f.text_field :sort %>
  </div>
  <div class="actions">
    <button class="button submit">保存</button> <%= link_to 'Back', cpanel_sections_path %>
  </div>
<% end %>
