<% content_for :sitemap do %>
  <span class="current"><%= t("cpanel.sections") %></span>
<% end %>
<h1>Listing sections</h1>

<table class="grid">
  <tr class="head">
    <td class="first">Id</td>
    <td>Name</td>
    <td>Sort</td>
    <td></td>
  </tr>

<% @sections.each do |section| %>
  <tr>
    
    <td class="first"><%= section.id %></td>
    <td><%= section.name %></td>
    <td><%= section.sort %></td>
    <td><%= link_to '', edit_cpanel_section_path(section) , :class => "icon small_edit" %>
    <%= link_to '', cpanel_section_path(section), :confirm => 'Are you sure?', :method => :delete, :class => "icon small_delete" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_cpanel_section_path %>
