<div class="card">
  <div class="card-header">
    <% if application.new_record? %>Create Application<% else %>Edit Application<% end %>
  </div>
  <div class="card-body">
    <%= form_for(application, url: doorkeeper_submit_path(application), html: { role: 'form'}) do |f| %>
      <%= render "/shared/error_messages", target: application %>
      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:name].present?}" do %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= doorkeeper_errors_for application, :name %>
      <% end %>
      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:confidential].present?}" do %>
        <label class="form-check-label">
          <%= f.check_box :confidential %>
          <%= f.label :confidential %>
        </label>
        <%= doorkeeper_errors_for application, :confidential %>
        <span class="form-text">
          <%= raw t('doorkeeper.applications.help.confidential') %>
        </span>
      <% end %>
      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:redirect_uri].present?}" do %>
        <%= f.label :redirect_uri %>
        <%= f.text_area :redirect_uri, class: 'form-control' %>
        <%= doorkeeper_errors_for application, :redirect_uri %>
        <span class="form-text">
          <%= t('doorkeeper.applications.help.redirect_uri') %>
        </span>
        <% if Doorkeeper.configuration.allow_blank_redirect_uri?(application) %>
          <span class="form-text text-secondary">
            <%= t('doorkeeper.applications.help.blank_redirect_uri') %>
          </span>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= f.submit t("common.save"), class: "btn btn-primary" %>
        <%= link_to t("common.cancel"), oauth_applications_path, :class => "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
