<div class="flex flex-col sm:flex-row gap-4">
  <%= render "/settings/menu" %>
  <div class="grow">
    <div class="p-4 bg-white rounded mb-4">
      <div class="">
        <div class="flex justify-between items-center mb-4">
          <%= t("user_setting.applciations") %>
          <div class="actions">
            <%= link_to "New Application", new_oauth_application_path, class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th>Client Id</th>
              <th>Level</th>
              <th>Users Count</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @applications.each do |app| %>
              <tr>
                <td><%= link_to app.name, oauth_application_path(app) %></td>
                <td><%= app.uid %></td>
                <td><%= app.level %></td>
                <td><%= app.access_tokens.count %></td>
                <td class="opts">
                  <%= link_to icon_tag('edit'), edit_oauth_application_path(app)%>
                  <%= link_to icon_tag('trash'), oauth_application_path(app), data: { method: :delete, confirm: t("common.confirm_delete") }%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="p-4 bg-white rounded mb-4">
      <div class="">
        <div class="flex justify-between items-center mb-4">
          <div>Authorized Apps</div>
        </div>
        <p>You have granted <%= @authorized_applications.count %> applications access to your account.</p>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th><%= t('doorkeeper.authorized_applications.index.application') %></th>
              <th><%= t('doorkeeper.authorized_applications.index.created_at') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @authorized_applications.each do |app| %>
              <tr>
                <td><%= app.name %></td>
                <td><%= app.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %></td>
                <td>
                  <%= link_to t("common.revoke"), oauth_authorized_application_path(app), class: "btn btn-secondary btn-sm", data: { confirm: "Are you sure?", method: :delete } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if @devices.length > 0 %>
      <div class="p-4 bg-white rounded mb-4">
        <div class="flex justify-between items-center mb-4">
          Devices
        </div>
        <div class="">
          <p>You has granted devices, it will get push notifications.</p>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th><%= t('activerecord.attributes.device.platform') %></th>
                <th><%= t('activerecord.attributes.device.token') %></th>
                <th><%= t('activerecord.attributes.device.alive') %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @devices.each do |device| %>
                <tr>
                  <td><%= device.platform_name %></td>
                  <td><%= device.token %></td>
                  <td><%= device.alive? %></td>
                  <td><%= link_to t("common.delete"), device, class: "btn btn-secondary btn-sm", data: { confirm: t("common.confirm_delete"), method: :delete } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
