<%= render "menu" %>

<div class="card">
  <div class="card-header"><%= t('.title', name: @application.name) %></div>
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <tr>
        <td><%= t('.application_id') %></td>
        <td><%= @application.uid %></td>
      </tr>
      <tr>
        <td><%= t('.secret') %></td>
        <td><%= @application.secret %></td>
      </tr>
      <tr>
        <td><%= t('.level') %></td>
        <td><%= @application.level %></td>
      </tr>
      <tr>
        <td><%= t('.callback_urls') %></td>
        <td>
          <table>
            <% @application.redirect_uri.split.each do |uri| %>
              <tr>
                <td><%= uri %></td>
                <td style="text-align:right; width: 100px;">
                  <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: "code", scope: Doorkeeper.config.default_scopes), target: '_blank' %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to t("common.edit"), edit_oauth_application_path(@application), class: 'btn btn-primary' %>
    <%= link_to t("common.delete"), oauth_application_path(@application), class: "btn btn-danger float-right", data: { method: :delete, confirm: t("common.confirm_delete") } %>
  </div>
</div>
