<div id="cpanel_location" class="form">

<%= simple_form_for([:cpanel,@location], :wrapper => :inline ) do |f| %>
  <%= render "/shared/error_messages", :target => @location  %>
  <fieldset>
    <legend><%= t("common.edit") %></legend>
      <%= f.input :name %>
      <%= f.input :users_count %>
      <div class="actions">
      <%= f.submit t("common.save"), :class => "btn primary" %> or <%= link_to t("common.cancel"), cpanel_locations_path %>
    </div>
  </fieldset>
<% end %>
</div>