<%= simple_form_for([:admin,@node]) do |f| %>
  <%= render 'shared/error_messages', target: @node %>
  <fieldset>
    <legend></legend>
    <%= f.input :name %>
    <%= f.input :section_id, collection: Section.all.collect { |s| [s.name,s.id] } %>
    <%= f.input :sort %>
    <%= f.input :summary, as: :text, input_html: { style: "width:500px; height:200px;"} %>
    <div class="form-group">
      <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <%= link_to 'Back', admin_nodes_path %>
    </div>
  </fieldset>
<% end %>
