<%= form_for [:admin, @section] do |f| %>
  <%= render 'shared/error_messages', target: @section %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sort %>
    <%= f.text_field :sort, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
  </div>
<% end %>
