<% content_for :sitemap do %>
  <span class="current"><%= t("admin.menu.sections") %></span>
<% end %>

<div class="toolbar">
  <%= link_to '新建分类', new_admin_section_path, class: "btn btn-default" %>
</div>

<table class="table table-bordered table-striped table-condensed">
  <tr class="head">
    <td class="first">#</td>
    <td>名称</td>
    <td>排序</td>
    <td></td>
  </tr>

<% @sections.each do |section| %>
  <tr>

    <td class="first"><%= section.id %></td>
    <td><%= section.name %></td>
    <td><%= section.sort %></td>
    <td><%= link_to '', edit_admin_section_path(section), class: "fa fa-pencil" %>
    <%= link_to '', admin_section_path(section), 'data-confirm' => '确定要删除吗?', method: :delete, class: "fa fa-trash" %></td>
  </tr>
<% end %>
</table>

