<div class="panel panel-default userinfo">
  <div class="panel-body vcard clearfix">
    <div class="media">
      <div class="media-body">
        <ul class="list-group">
          <li class="with_nbsp list-group-item">
            <label>&nbsp;</label>
            <span class="title">第 <%= @user.id %> 位<%= t("menu.users")%></span>
          </li>
          <li class="list-group-item">
            <label>ID:</label>
            <strong class="fn"><%= @user.login %></strong>
          </li>
          <% if !@user.name.blank? %>
            <li class="list-group-item">
              <label>Name:</label>
              <strong><%= @user.name %></strong>
            </li>
          <% end %>

          <% if !@user.location.blank? %>
            <li class="adr list-group-item">
              <label><%= t("users.city")%>:</label>
              <span class="region"><%= location_name_tag(@user.location) %></span>
            </li>
          <% end %>

          <% if !@user.company.blank? %>
            <li class="adr list-group-item">
              <label><%= t("users.company")%>:</label>
              <span class="org"><%= @user.company %></span>
            </li>
          <% end %>

          <% if !@user.email.blank? && @user.email_public %>
          <li class="list-group-item">
            <label>Email:</label>
            <span><%= auto_link @user.email %></span>
          </li>
          <% end %>

          <% if !@user.twitter.blank? %>
            <li class="list-group-item">
              <label><%= t("users.twitter")%>:</label>
              <span><%= link_to "@#{@user.twitter}", @user.twitter_url, class: "twitter", rel: "nofollow" %></span>
            </li>
          <% end %>

          <% if !@user.website.blank? %>
            <li class="list-group-item">
              <label><%= t("users.personal_website")%>:</label>
              <span><%= render_user_personal_website(@user)%></span>
            </li>
          <% end %>

          <% if !@user.tagline.blank? %>
            <li class="list-group-item">
              <label><%= t("users.signature")%>:</label>
              <span><%= render_user_tagline(@user) %></span>
            </li>
          <% end %>

          <li class="list-group-item">
            <label><%= t("users.join_time")%>:</label>
            <span><%= render_user_join_time(@user) %></span>
          </li>

        </ul>
      </div>
      <div class="media-right">
        <div class="avatar">
          <%= user_avatar_tag(@user,:big, link: false) %>
        </div>
        <div class="badges">
          <%= render_user_level_tag(@user) %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user %>
  <div class="panel-footer">
    <span class="opts">
      <% if admin? %>
        <%= link_to icon_tag("pencil", label: "后台修改"), edit_cpanel_user_path(@user) %>
      <% end %>
      <%= block_user_tag(@user) %>
    </span>
  </div>
  <% end %>

</div>

<% cache([@user, "bio"]) do %>
  <% if !@user.bio.blank? %>
    <div class="panel panel-default bio">
      <div class="panel-heading">个人介绍</div>
      <div class="panel-body markdown">
        <%= markdown(@user.bio) %>
      </div>
    </div>
  <% end %>
<% end %>