<div class="box">
  <div class="userinfo">
    <div class="pull-right" style="text-align:center;">
      <%= user_avatar_tag(@user,:big, :link => false) %>
    </div>
    <%= render_user_level_tag(@user) %>
    <ul>
        <li class="with_nbsp"><span>&nbsp;</span>第 <%= @user.id %> 位<%= t("menu.users")%></li>
        <li><span>ID:</span><strong><%= @user.login %></strong></li>
        <% if !@user.name.blank? %>
        <li><span>Name:</span><strong><%= @user.name %></strong></li>
        <% end %>
        <% if !@user.location.blank? %>
             <li><span><%= t("users.city")%>:</span><%= location_name_tag(@user.location) %></li>
        <% end %>
        
        <li><span><%= t("users.join_time")%>:</span><%= render_user_join_time(@user) %></li>
        
        <% if !@user.tagline.blank? %>
            <li><span><%= t("users.signature")%>:</span><%= render_user_tagline(@user) %></li>
        <% end %>
        
        <% if !@user.website.blank? %>
            <li><span><%= t("users.personal_website")%>:</span><%= render_user_personal_website(@user)%></li>
        <% end %>
    </ul>
  </div>

  
</div>

<% if !@user.bio.blank? %>
  <div class="box">
    <p><%= simple_format(@user.bio) %></p>
  </div>
<% end %>
