<div class="box">
	<h1>密码设置</h1>
	<%= form_for(@user) do |f| %>
		<%= render "shared/error_messages", :target => @user %> 
		<div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
		<div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
	  </div>
		<div class="actions">
			<%= f.submit "更改密码", :class => "button submit", :name => 'change_pwd' %>
	  </div>
	<% end %>
</div>