<div class="box">
	<h1>个人资料</h1>
	<%= form_for(@user, :html => { :enctype =>  "multipart/form-data" }) do |f| %>
	<%= render "shared/error_messages", :target => @user %> 
	<div class="field">
		<h3><%= @user.name %></h3>
	</div>
	<div class="field">
	  <%= f.label :location %><br />
	  <%= f.text_field :location %>
	</div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <label>预览</label><br />
    <%= image_tag(@user.avatar.large.url) %>
  </div>
	<div class="field">
		<%= f.label :qq %><br />
		<%= f.text_field :qq %>
	</div>
	<div class="field">
		<%= f.label :website %><br />
		<%= f.text_field :website %>
	</div>
	<div class="field">
		<%= f.label :tagline %><br />
		<%= f.text_field :tagline %>
	</div>
	<div class="field">
		<%= f.label :bio %><br />
		<%= f.text_area :bio, :size => "20x8" %>
	</div>
	<div class="actions">
		<%= f.submit "保存", :class => "button submit" %>
	</div>
	<% end %>
</div>

