  <div class="last_replies box">
    <h5><%= t("users.recent_reply_topic")%></h5>
    <ul>
      <% last_replies.each do |reply|
        next if reply.topic.blank? %>
        <li>
          <h6>
            <%= render_reply_at(reply) %>
            在
            <%= render_topic_title(reply.topic) %>
            <%= t("common.reply")%>：
          </h6>
          <blockquote class="body">
            <%= format_topic_body reply.body %>
          </blockquote>
        </li>
      <% end %>
    </ul>
  </ul>
</div>