<div class="box">
    <h5><%= t("users.recent_publish_topic")%></h5>
    <table class="node-topics table">
        <tr class="head">
          <td class="replies"><%= t("common.reply_count")%></td>
          <td class="title"><%= t("common.title")%></td>
          <td class="replied-at"><%= t("common.last_reply_time")%></td>
        </tr>
        <% last_topics.each do |topic| %>
        <tr class="topic">
          <td class="replies"><%= topic.replies_count %> </td>
          <td class="title"><%= link_to(truncate(topic.title, length: 25), topic_path(topic))%>      </td>
          <td class="replied-at"> <%= l((topic.replied_at || topic.created_at), format: :short) %></td>
        </tr>
        <% end %>
    </table>
</div>
