<% title_tag [@user.fullname, t('users.menu.blocked')].join(' · ') %>

<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-md-8">
    <%= render "menu" %>
    <div class="panel bloced-users panel-default">
      <div class="panel-heading"><%= t('users.menu.blocked') %></div>
      <div class="panel-body">
        <%= render "user_list", users: @block_users %>
      </div>
      <div class="panel-footer clearfix">
        <%= paginate @block_users %>
      </div>
    </div>
  </div>
</div>
