<% title_tag [@user.fullname, t('users.menu.blocked')].join(' · ') %>

<div class="flex flex-col md:flex-row gap-4">
  <%= render "sidebar", user: @user %>
  <div class="grow">
    <%= render "menu" %>
    <div class="card bloced-users">
      <div class="card-header"><%= t('users.menu.blocked') %></div>
      <div class="card-body">
        <%= render "user_list", users: @block_users %>
      </div>
      <div class="card-footer clearfix">
        <%= paginate @block_users %>
      </div>
    </div>
  </div>
</div>
