<%= render "menu" %>
<div class="content">
  <div class="box">

    <table class="node_topics table">
      <tr class="head">
        <td class="opts"><%= t("common.node") %></td>
        <td class="title"><%=t("common.title")%></td>
      </tr>
      <% @topics.each do |item| %>
        <% next if item.blank? %>
        <tr class="topic <%= cycle('odd',"") %>">
          <td><%= render_node_name(item.node_name,item.node_id) %></td>
          <td class="title"><%= topic_title_tag(item) %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @topics %>
  </div>
</div>

<%= render "sidebar", :user => @user %>
