<% title_tag t('users.hot_users') %>

<div id="users">
  <div id="hot_users" class="user-list card card-lg">
    <div class="card-body">
      <div class="flex jcsb items-center">
        <div class="card-title">
          <div><%= t("users.hot_users") %></div>
          <div class="counter">Total <%= @total_user_count %> users</div>
        </div>
        <div class="tabs">
          <a href="<%= users_path %>" class="<%= "active" if params[:type].blank? %>">Yearly</a> <span class="divider">/</span>
          <a href="<%= users_path(type: "monthly") %>" class="<%= "active" if params[:type] == "monthly" %>">Monthly</a>
        </div>
      </div>

      <%= render "user_list", users: @active_users, columns: 4 %>
    </div>
  </div>
</div>
