<% title_tag t('users.hot_users') %>

<div class="p-4 card">
  <div class="flex items-center justify-between">
    <div class="text-xl">
      <div><%= t("users.hot_users") %></div>
      <div class="text-sm text-gray-400 dark:text-gray-500">Total <%= @total_user_count %> users</div>
    </div>
    <div class="user-list-tabs">
      <a href="<%= users_path %>" class="user-list-tab <%= "active" if params[:type].blank? %>"><%= t("users.yearly") %></a> <span class="divider">/</span>
      <a href="<%= users_path(type: "monthly") %>" class="user-list-tab <%= "active" if params[:type] == 'monthly' %>"><%= t("users.monthly") %></a>
    </div>
  </div>

  <%= render "user_list", users: @active_users, columns: 4 %>
</div>
