<%= render "base" %>

<div class="content">
  <%= render "menu" %>
  <div class="box">
    
    <table class="node_topics">
      <tr class="head">
        <td class="title"><%=t("common.title")%></td>
        <td class="opts"></td>
      </tr>
      <% @likes.each do |item| %>
        <% next if item.likeable.blank? %>
        <tr class="topic <%= cycle('odd',"") %>">
          <td class="title"><%= render_topic_title(item.likeable) %></td>
          <td><%= render_node_name(item.likeable.node_name,item.likeable.node_id) %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @likes %>
  </div>
</div>

<%= render "sidebar", :user => @user %>
