<%= render "base" %>
<div id="users" class="box">
  <div id="hot_users" class="row user_list">
    <h1><%= @location %>的<%= t("users.hot_users") %></h1>
    <% if !@users.blank? %>
      <% @users.each do |item| %>
        <div class="item span1">
          <div class="avatar"><%= user_avatar_tag(item) %></div>
          <div class="name"><%= user_name_tag(item) %></div>
        </div>
      <% end %>
    <% end %>    
  </div>
  <%= will_paginate @users %>
</div>