<% content_for :sitemap do %><span class="current">加入社区</span><% end %>
<div class="leftbox">
	<div class="box">
		<h1>加入<%= APP_CONFIG['app_name'] %>社区</h1>
		<%= form_for(@user) do |f| %>
		<%= render "shared/error_messages", :target => @user %> 
    <div class="field">
			<%= f.label :username %><br />
			<%= f.text_field :username %>
		</div>  
		<div class="field">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</div>  
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %><br />
			<p class="hint">注意!注册后将不可修改</p>
		</div>
		<div class="field">
		  <%= f.label :location %><br />
		  <%= f.text_field :location %><br />
		</div>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
			<%= f.submit "保存", :class => "button submit" %>
		</div>
		<% end %>
	</div>
</div>
<div class="sidebar">
	<div class="box">
		<h2>注册说明</h2>
		<p>
			这里是实名制的社区,我会将会对每一位成员进行真实身份验证,当然这里也欢迎外来人员注册,但我们验证过后的会员将会有小区成员的特别标志.
		</p>
	</div>
</div>

