<% title_tag [@user.fullname, t('users.menu.notes')].join(' · ') %>

<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-md-8">
    <%= render "menu" %>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="node-topics table">
          <tr class="head">
            <td class="opts"><%= t("common.title") %></td>
            <td class="title"><%=t("common.statics")%></td>
          </tr>
          <% @notes.each do |note| %>
          <tr class="note <%= cycle('odd',"") %>">
            <th><a class="title" href="<%= note_path(note.id) %>"><i class="icon-stop"></i> <%= note_title_tag(note) %></a> <%= raw '<span class="label warning">公开</span>' if note.publish %></th>
            <th><%= note.word_count %> <%= t("notes.chars") %>, <%= sanitize t("notes.created_at", time: timeago(note.created_at)) %></th>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <%= paginate @notes %>
      </div>
    </div>
  </div>

</div>
