<% title_tag @user.fullname %>

<div class="row">
  <%= render "sidebar", user: @user %>

  <div class="col-lg-8">
    <%= render "menu" %>

    <%= render "info" %>

    <div class="topics topics-<%= action_name %> card">
      <div class="card-body item-list">
        <%= render TopicComponent.with_collection(@topics) %>
      </div>
    </div>
  </div>

</div>
