<%= render "base" %>
<div class="sidebar">
  <div class="box" style="text-align:center;">
    <%= user_avatar_tag(@user,120, :link => false) %>
  </div>
</div>

<div class="content">
    <%= render :partial => "users/info", :locals => { :user => @user }%>
    <%= render(:partial => "users/bio", :locals => { :bio => @user.bio }) if !@user.bio.blank? %>
    <%= render :partial => "users/recent_publish_topics", :locals => { :last_topics => @last_topics  } %>
    <%= render( :partial => "users/recent_replies", :locals => { :last_replies => @last_replies }) if !@last_replies.blank? %>
</div>
