<% title_tag @user.fullname %>

<div class="flex flex-col md:flex-row gap-4">
  <%= render "sidebar", user: @user %>

  <div class="grow">
    <%= render "menu" %>

    <%= render "info" %>

    <div class="topics topics-<%= action_name %> card">
      <div class="card-body item-list">
        <%= render TopicComponent.with_collection(@topics) %>
      </div>
    </div>
  </div>

</div>
