<%= render "base" %>
<%= render "info" %>

<div class="box">
  <%= render "menu" %>
  <table class="node_topics">
      <tr class="head">
        <td class="replies">回复数</td>
        <td class="title">标题</td>
        <td class="replied_at">创建时间</td>
      </tr>
      <% @topics.each do |topic| %>
      <tr class="topic <%= cycle("odd","") %>">
        <td class="replies"><%= render_topic_count(topic)%> </td>
        <td class="title"><%= link_to(topic.title, topic_path(topic)) %></td>
        <td class="replied_at"> <%= timeago(topic.created_at) %></td>
      </tr>
      <% end %>
  </table>
  <%= will_paginate1 @topics %>
</div>