<% content_for :sitemap do %><span class="current"><%= @user.login %></span><% end %>
<% content_for :styles do %>
	<%= stylesheet_link_tag "users" %>
<% end %>

<div class="sidebar">
  <div class="box" style="text-align:center;">
    <%= user_avatar_tag(@user,120, :link => false) %>
  </div>
</div>

<div class="content">
	<div class="userinfo box">
	  <% if admin?(@user) %>
    <span class="label warning">管理员</span>
    <% elsif wiki_editor?(@user) %>
    <span class="label success">Wiki 管理</span>
    <% else %>
    <span class="label">普通用户</span>
    <% end %>
		<ul>
		  <li style="text-align:right;">第 <%= @user.id %> 位会员</li>
			<li>
			  <span>ID:</span><strong><%= @user.login %></strong>
			</li>
			<% if !@user.location.blank? %>
			<li><span>城市:</span><%= @user.location %></li>
			<% end %>
			<li><span>加入时间:</span><%= I18n.l(@user.created_at.to_date, :format => :long) %></li>
			<% if !@user.tagline.blank? %>
			<li><span>签名:</span><%= @user.tagline %></li>
			<% end %>
			<% if !@user.github.blank? %>
			<li><span>Github:</span><a href="<%= @user.github_url %>" target="_blank" rel="nofollow"><%= @user.github_url %></a></li>
			<% end %>
			<% if !@user.website.blank? %>
			<li><span>个人主页:</span><a href="<%= @user.website %>" target="_blank" rel="nofollow"><%= @user.website %></a></li>
			<% end %>
		</ul>
	</div>
	<% if !@user.bio.blank? %>
	<div class="bio box">
		<h5>个人介绍</h5>
		<p><%= auto_link(simple_format(@user.bio)) %></p>
	</div>
	<% end %>
	<div class="box">
		<h5>最近发布的贴子</h5>
		<table class="node_topics">
      <tr class="head">
        <td class="replies">回复数</td>
        <td class="title">标题</td>
        <td class="replied_at">最后回复时间</td>
      </tr>
      <% @last_topics.each do |topic| %>
      <tr class="topic">
        <td class="replies"><%= topic.replies_count %></td>
        <td class="title"><a href="<%= topic_path(topic) %>"><%= truncate(topic.title, :length => 25) %></a></td>
        <td class="replied_at"><%= l (topic.replied_at || topic.created_at), :format => :short %></td>
      </tr>
      <% end %>
    </table>
	</div>

    <div class="last_replies box">
      <h5>最近回复过的帖子</h5>
      <table>
        <tbody>
          <% @last_replies.each do |reply|
            next if reply.topic.blank? %>
            <tr><td>
              <h6>
                <%= l reply.created_at, :format => :short %>
                在
                <a href="<%= topic_path(reply.topic) %>">
                  <%= reply.topic.title %>
                </a>
                回复：
              </h6>
              <blockquote>
                <%= reply.body %>
              </blockquote>
            </td></tr>
          <% end%>
        </tbody>
      </table>
    </ul>
  </div>
</div>
