<%= render "base" %>

<div class="content">
  <%= render "menu" %>
  
  <div class="box">
    <h2 class="title"><%= t("topics.recent_topics") %></h2>
    <%= render "topics", :topics => @topics %>
    <%= will_paginate @topics %>
  </div>
</div>

<%= render "sidebar", :user => @user %>
