<% content_for :sitemap do %><li class="active">修改密码</li><% end %>
<div class="sidebar">
  <div class="box">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
<div class="content">
  <div class="box">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <legend>修改密码</legend>
        <%= render "shared/error_messages", :target => resource %> 
        <%= f.hidden_field :reset_password_token %>
    
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password %>
          </div>
        </div>    
        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>    
        <div class="actions">
          <%= f.submit "修改我的密码", :class => "btn success", :disable_with => t("common.submitting") %>
        </div>
    <% end %>
  </div>
</div>

