<% title_tag t('users.update_password') %>

<div class="row">
  <div class="col"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><%= t('users.update_password') %></div>
      <div class="card-body">
        <%= form_for resource, as: resource_name, url: password_path(resource_name), method: :put do |f| %>
        <%= render "shared/error_messages", target: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.password_field :password, class: "form-control", placeholder: "密码" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "确认密码" %>
        </div>
        <div class="form-actions">
          <%= f.submit t('users.update_password'), class: "btn btn-success", 'data-disable-with' => t("common.submitting") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
