<% title_tag t('users.update_password') %>

<div class="row">
  <div class="col-md-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('users.update_password') %></div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "shared/error_messages", target: resource %>
        <%= f.hidden_field :reset_password_token %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <div class="form-group">
          <%= f.submit t('users.update_password'), class: "btn btn-success", 'data-disable-with' => t("common.submitting") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
