<% content_for :sitemap do %><span class="current">修改密码</span><% end %>
<div class="leftbox">
  <div class="box">
    <h1>修改密码</h1>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= render "shared/error_messages", :target => resource %> 
      <%= f.hidden_field :reset_password_token %>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>    
      <div class="actions"><button type="submit" class="button submit">修改我的密码</button></div>
    <% end %>
  </div>
</div>

<div class="sidebar">
  <div class="box">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>