<div class="row">
  <div class="col-md-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">修改我的密码</div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "shared/error_messages", target: resource %>
        <%= f.hidden_field :reset_password_token %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <div class="form-group">
          <div class="col-md-10 col-sm-offset-2">
            <%= f.submit "修改我的密码", class: "btn btn-success", 'data-disable-with' => t("common.submitting") %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>