<% content_for :sitemap do %><li class="active">忘记了密码</li><% end %>
<div class="sidebar">
  <div class="box">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
<div class="content">
  <div class="box">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <fieldset>
        <legend>忘记了密码</legend>
        <%= render "shared/error_messages", :target => resource %> 
        <div class="clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.text_field :email %>
            <span class="help-block">此功能将会发送一个找回密码的特别链接到你的邮箱，通过改链接可以进入重置密码的页面。</span>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "找回密码", :class => "btn primary", :disable_with => t("common.submitting") %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
