<% title_tag t('users.forget_password') %>

<div class="flex justify-center">
  <div class="w-full sm:w-2/3 md:w-1/2">
    <div class="card card-lg">
      <div class="card-body">
        <div class="card-title"><%= t('users.forget_password') %></div>

        <%= form_for resource, as: resource_name, url: password_path(resource_name), method: :post do |f| %>
          <%= render "shared/error_messages", target: resource %>
          <div class="form-group">
            <%= f.text_field :email, type: :email, class: "form-control form-control-lg", placeholder: t("activerecord.attributes.user.email") %>
            <p class="form-text text-muted"><%= t('users.find_password_help_text')%></p>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <%= render "/shared/captcha_input" %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit t('users.find_password'), class: "btn btn-lg btn-block btn-primary", 'data-disable-with' => t("common.submitting") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
