<div class="editor-toolbar clearfix">
  <div class="reply-to float-right" style="display: none;">
    <%= icon_tag("reply") %>
    <a href="#" class="user"></a>
    <a href="#" class="close"><%= icon_tag("close") %></a>
  </div>
  <div class="toolbar-buttons">
    <a href="#" class="nav-link pickup-emoji"><%= icon_tag("smile") %></a>
    <% if Setting.has_module? 'editor.code' %>
      <span class="dropdown" id="dropdown-insert-codes">
        <a href="#editor-toolbar-insert-code" class="nav-link dropdown-toggle" data-bs-toggle ="dropdown" title="<%= t("common.editor_insert_codes") %>"><%= icon_tag("code") %></a>
        <div class="dropdown-menu insert-codes">
          <%= insert_code_menu_items_tag %>
        </div>
      </span>
    <% end %>
    <a id="editor-upload-image" href="#" title="<%= t("common.editor_add_image") %>" class="nav-link upload-button">
      <i class="upload-icon fa fa-image"></i>
      <i class='loading fa fa-circle-notch fa-spin'></i>
    </a>
    <a href="#" class="nav-link preview" title="<%= t("common.editor_toolbar_preview") %>">
      <%= icon_tag("eye") %>
    </a>
  </div>
</div>
