<div class="editor-toolbar">
  <div class="opts pull-right">
    <a href="#" class="pickup-emoji"><i class="fa fa-smile-o"></i></a>
    <% if Setting.has_module? 'editor.code' %>
    <span class="dropdown dropdown-small" id="editor-toolbar-insert-code">
      <a href="#editor-toolbar-insert-code" data-toggle="dropdown" title="<%= t("common.editor_insert_codes") %>" href="#editor-toolbar-insert-code"><i class="fa fa-code"></i></a>
      <ul class="dropdown-menu insert-codes" role="menu">
        <%= insert_code_menu_items_tag %>
      </ul>
    </span>
    <% end %>
    <%= link_to(icon_tag("image"), "#", id: "editor-upload-image", rel: "twipsy", title: t("common.editor_add_image") )%>
  </div>
  <ul class="nav nav-pills" style="clear:none;">
    <li class="edit active"><%= link_to(t("common.editor_toolbar_edit"), "#") %></li>
    <li class="preview"><%= link_to(t("common.editor_toolbar_preview"), "#") %></li>
    <li>
      <div class="nav reply-to" style="display:none;">
        <i class="fa fa-mail-reply" title="回复"></i>
        <a href="#" class="user"></a>
        <a href="#" class="close"><i class="fa fa-close"></i></a>
      </div>
    </li>
  </ul>
</div>
