<% content_for :sitemap do %>
  <a href="<%= admin_applications_path %>">OAuth Applications</a> <i class="fa fa-angle-right"></i> <span class="current">Edit</span>
<% end %>

<%= form_for [:admin, @application], url: admin_application_path(@application) do |f| %>
  <%= render "/shared/error_messages", target: @application %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :redirect_uri %>
    <%= f.text_field :redirect_uri, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :level %>
    <%= f.text_field :level, class: "form-control" %>
  </div>

  <div class="form-group">
    <label class="form-check-label">
      <%= f.check_box :confidential %>
      <%= f.label :confidential %>
    </label>
    <span class="form-text">
      <%= raw t('doorkeeper.applications.help.confidential') %>
    </span>
  </div>

  <div class="form-actions">
    <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => "Saving..." %>
    <%= link_to t("common.cancel"), admin_applications_path, class: "btn" %>
    <span class="float-right">
      <%= link_to t("common.delete"), admin_application_path(@application.id), class: 'btn btn-danger', method: :delete, 'data-confirm' => t("common.confirm_delete") %>
    </span>
  </div>
<% end %>
