<% content_for :sitemap do %>
  <a href="<%= admin_applications_path %>">OAuth Applications</a> <i class="fa fa-angle-right"></i> <span class="current">Detail</span>
<% end %>
<ul class="list-group">
  <li class="list-group-item">
    <label class="col-sm-1">Name:</label> <%= @application.name %></li>
  <li class="list-group-item">
    <label class="col-sm-1">Uid:</label> <%= @application.uid %></li>
  <li class="list-group-item">
    <label class="col-sm-1">Secret:</label> <%= @application.secret %></li>
  <li class="list-group-item">
    <label class="col-sm-1">Creator:</label> <%= user_name_tag(@application.owner) %></li>
  <li class="list-group-item">
    <label class="col-sm-1">Users Count:</label> <%= @application.access_tokens.count %></li>
  <li class="list-group-item">
    <label class="col-sm-1">Level:</label> <%= @application.level %></li>
</ul>
<div class="toolbar">
  <%= link_to t("common.edit"), edit_admin_application_path(@application), class: "btn btn-sm btn-success" %>
  <%= link_to t("common.back"), admin_applications_path, class: "btn btn-sm btn-secondary" %>
</div>
