<%= raw Setting.index_html %>

<div class="home_suggest_topics panel panel-default">
  <div class="panel-heading">社区精华帖</div>
  <div class="panel-body topics row">
    <%
      odd_topics, even_topics = @excellent_topics.partition.each_with_index { |t, i| i.odd?  }
    %>
    <div class="col-md-6 topics-group">
      <%= render partial: "topics/topic", collection: odd_topics, locals: { suggest: false }, cached: -> (topic) { [topic, 'normal'] } %>
    </div>

    <div class="col-md-6 topics-group">
      <%= render partial: "topics/topic", collection: even_topics, locals: { suggest: false }, cached: -> (topic) { [topic, 'normal'] } %>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to "查看更多精华帖...", excellent_topics_path %>
  </div>
</div>

<% if !mobile? %>
  <%= render "/shared/index_sections" %>
  <%= render "/shared/hot_locations" %>
<% end %>
