<%= content_for :sitemap do %><span class="current">首页</span><% end %>
<%= content_for :styles do %>
<%= stylesheet_link_tag "home", :cache => "cached_home" %>
<% end %>
<div id="home_index" class="box"> 
  <h1>楠香山论坛</h1> 
  <p> 
    这里是成都中和镇楠香山小区的论坛。
  </p> 
  <h2>为什么要建立这个论坛？</h2> 
  <p> 
    其实在搜房网上面也有那么一个楠香山业主论坛，但是那个论坛奇慢无比，我无法忍受，而且上面充斥着无数的垃圾信息，你没法确认那个是真实的。<br /> 
    而这里将会有所不同，我将针对实际的情况开发一个合适的论坛程序，她包括实名认证，手机支持，更好的浏览速度和用户体验。<br /> 
  </p> 
  <h2>为什么不用QQ群？</h2> 
  <p> 
    QQ群作为随意讨论确实没有问题，很多人也习惯了，但是如果你想整个小区的人都可以看到的话，发到论坛里面才是最好的选择，因为这些信息将会永远存在，而QQ群将会很快消失！<br /> 
    此外这里以话题来引导导论，如，“旁边的超市什么时候可以建成？”这样的话题，大家可以在一起讨论。
  </p> 
  <h2>我是谁?</h2> 
  <p> 
    可以叫我小李, 职业是做网站的，我也买了楠香山的房子(5-14-3号)，所以就准备建立这么一个论坛。把小区的管理拿回到自己人手里面。
  </p> 
</div> 
<%= cache("home/last_topics",:expires_in => 30.minutes) do %>
<div id="last_topics" class="topics box">
	<h2>最新发布的贴子</h2>
	<ul>
		<% @last_topics.each do |item| %>
		<li>
			<span class="node">[<a href="<%= node_topics_path(item.node_id) %>"><%= item.node.name %></a>]</span>
			<a href="<%= topic_path(item.id) %>"><%= truncate(item.title,:length => 30) %></a>
			</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= cache("home/hot_topics",:expires_in => 30.minutes) do %>
<div id="hot_topics" class="topics box">
	<h2>最近活跃的贴子</h2>
	<ul>
		<% @actived_topics.each do |item| %>
		<li>
			<span class="node">[<a href="<%= node_topics_path(item.node_id) %>"><%= item.node.name %></a>]</span>
			<a href="<%= topic_path(item.id) %>"><%= truncate(item.title,:length => 30) %></a>
			</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="more box clearboth">
	<p style="padding:20px;">
  <a href="/account/sign_up">立即加入社区</a> 或者 <a href="<%= topics_path %>">先进去随便看看</a>
	</p>
</div>
