<div class="row">
  <%= render 'menu' %>

  <div class="col-md-9">
    <div class="alert alert-warning">注意！更新密码以后需要重新登陆。</div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(@user, url: setting_path, html: { method: :put }) do |f| %>
          <%= render "shared/error_messages", target: @user %>
          <input type="hidden" name="by" value="password" />
          <%= f.input :current_password %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <div class="form-actions hide-ios">
            <%= f.submit t("users.update_password"), class: "btn btn-lg btn-success", 'data-disable-with' => t("common.saving") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
