<div class="row">
  <%= render 'menu' %>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(@user, url: setting_path, html: { method: :put, enctype:  "multipart/form-data" }) do |f| %>
        <%= render "shared/error_messages", target: @user %>
        <div class="row">
          <div class="col-sm-9">
            <%= f.input :name, input_html: { style: 'width: 200px' } %>
            <%= f.input :email, input_html: { disabled: (@user.email_locked?) } %>
            <div class="form-group">
              <div class="checkbox">
                <label for="user_email_public" class="checkbox"><%= f.check_box :email_public %> <%= t("users.email_permission")%></label>
              </div>
            </div>
            <%= f.input :avatar %>
            <%= f.input :bio, as: :text, input_html: { class: "xxlarge", rows: "6" } %>
          </div>
          <div class="col-sm-3">
            <div class="form-group avatar-preview" style="text-align: center;">
              <%= user_avatar_tag(@user, :lg, link: false) %>
            </div>
            <script type="text/javascript">
            // Use HTTP Request Headers "Pragma: no-cache" for force update image cache.
            // https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.32
            _.each($('img.media-object'), function(img) {
              if (!/avatar\-/.test($(img).attr("class"))) {
                return;
              }
              var url = $(img).attr("src");
    /*          console.log(url);*/
              $.ajax({
                url: url,
                headers: { 'Pragma': 'no-cache', 'Cache-Control': 'no-cache' },
                success: function (res) { $(img).attr('src', url); }
              });
            });
            </script>
          </div>
        </div>
        <div class="form-actions hide-ios">
          <button type="submit" class="btn btn-lg btn-primary" data-disable-with="<%= t("common.saving") %>"><%= t("users.update_profile")%></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
