<div class="flex flex-col sm:flex-row gap-4">
  <%= render 'menu' %>
  <div class="grow">
    <div class="card card-lg">
      <div class="card-body">
        <%= form_for @user, url: setting_path, method: :put, html: { enctype: "multipart/form-data" } do |f| %>
          <%= render "shared/error_messages", target: @user %>
          <div class="flex gap-4">
            <div class="grow">
              <div class="card-section">
                <% if Setting.allow_change_login? %>
                  <div class="form-group">
                    <label class="form-label"><%= t("activerecord.attributes.user.login") %></label>
                    <%= f.text_field :login, style: "width: 200px", class: "form-control", placeholder: t("activerecord.attributes.user.login") %>
                  </div>
                <% end %>
                <div class="form-group">
                  <label class="form-label"><%= t("activerecord.attributes.user.name") %></label>
                  <%= f.text_field :name, style: "width: 200px", class: "form-control", placeholder: t("activerecord.attributes.user.name") %>
                </div>
                <div class="form-group">
                  <label class="form-label"><%= t("activerecord.attributes.user.avatar") %></label>
                  <%= f.file_field :avatar, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <%= f.text_field :email, disabled: @user.email_locked?, class: "form-control", placeholder: "Email" %>
                </div>
                <div class="form-group form-check">
                  <label for="user_email_public" class="form-check-label">
                    <%= f.check_box :email_public, class: "form-check-input" %> <%= t("users.email_permission")%>
                  </label>
                </div>
                <% if Setting.has_profile_field? :tagline %>
                  <div class="form-group">
                    <%= f.label :tagline %>
                    <%= f.text_field :tagline, class: "form-control" %>
                  </div>
                <% end %>
              </div>
              <div class="card-section themes">
                <div class="heading"><%= t("activerecord.attributes.user.theme") %></div>
                <div class="flex items-center">
                  <div class="form-check">
                    <%= f.radio_button :theme, "auto", checked: ["auto", nil].include?(@user.theme), class: "form-check-input" %>
                    <%= f.label :theme_auto, t("users.theme_auto"), class: "form-check-label" %>
                  </div>
                  <div class="form-check">
                    <%= f.radio_button :theme, "light", class: "form-check-input" %>
                    <%= f.label :theme_light, t("users.theme_light"), class: "form-check-label" %>
                  </div>
                  <div class="form-check">
                    <%= f.radio_button :theme, "dark", class: "form-check-input" %>
                    <%= f.label :theme_dark, t("users.theme_dark"), class: "form-check-label" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-1/3 shrink-0">
              <div class="form-group avatar-preview" style="text-align: center;">
                <%= user_avatar_tag(@user, :lg, link: false) %>
              </div>
            </div>
          </div>
          <div class="form-actions hide-ios">
            <button type="submit" class="btn btn-primary" data-disable-with="<%= t("common.saving") %>"><%= t("users.update_profile")%></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
