<%= form_for(@page) do |f| %>
  <fieldset>
    <legend>Wiki页面编辑</legend>
    <%= render "shared/error_messages", :target => @page %>
    <div class="clearfix">
      <%= f.label :slug %>
      <div class="input">
        <%= f.text_field :slug %><br />
        <span class="help-block">http://<%= Setting.domain %>/wiki/:slug</span>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :title %>
      <div class="input">
        <%= f.text_field :title, :class => "xxlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :body %>
      <div class="input">
        <%= f.text_area :body, :class => "long", :rows => "30" %><br />
        <span class="help-block">请使用 Markdown 格式编写,可以试试用 <a href="http://mouapp.com" target="_blank">Mou</a> 这个 App 来编写。</span>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "保存", :class => "btn primary" %>
    </div>
<% end %>
