<%= simple_form_for @page, :wrapper => :inline do |f| %>
  <fieldset>
    <legend>Wiki页面编辑</legend>
    <%= render "shared/error_messages", :target => @page %>

    <%= f.input :slug, :hint => "http://#{Setting.domain}/wiki/:slug"%>
    <%= f.input :title, :input_html => { :class => "xxlarge" } %>
    <%= f.input :body, :as => :text,
                :input_html => { :class => "long", :rows => "30" },
                :hint => "请使用 Markdown 格式编写,可以试试用 <a href='http://mouapp.com' target='_blank'>Mou</a> 这个 App 来编写。".html_safe
    %>

    <% if not @page.new_record? %>
      <%= f.input :change_desc , :as => :text,
                  :input_html => { :class => "long", :rows => "2" },
                  :hint => "描述你本次修改的内容。"
    %>

    <% end %>
    <div class="actions">
      <%= f.submit t("common.save"), :class => "btn primary" %>
    </div>
<% end %>
