<%= render "base" %>
<div id="page_show" class="box">
  <% if !@page.locked or admin? %>
    <div class="info">
      版本 <%= @page.version %>， 最后更新于 <%= timeago @page.updated_at %>
      <% if wiki_editor? %>
        <%= link_to("编辑", edit_page_path(@page), :class => "label success")%>
      <% end %>
    </div>
  <% end %>
  <div style="text-align:right;">
    <%= render :partial => "common/share", :title => @page.title %>
  </div>
  <div class="wikistyle">
    <%= raw @page.body_html %>
  </div>
  <div class="editors">
    <h3>本页贡献者:</h3>
    <div>
      <% @page.editors.each do |item| %>
        <%= user_avatar_tag(item, :small) %>
      <% end %>
    </div>
  </div>
</div>
<div id="comments">
  <%= render_cell :comments, :index, :commentable => @page, :current_user => current_user, :title => "评论" %>
</div>