<%= render "base" %>
<%= content_for :sitemap do %><li class="active">查看</li><% end %>

<div id="page_show" class="box">
  <% if !@page.locked or admin? %>
    <div class="info">
      最后更新于 <%= timeago @page.updated_at %>
      <a href="<%= edit_page_path(@page) %>">编辑</a>
    </div>
  <% end %>
  <div class="markdown_content">
    <%= raw @page.body_html %>
  </div>
  <div class="editors">
    <h3>贡献者:</h3>
    <div>
      <% @page.editors.each do |item| %>
        <%= user_avatar_tag(item, :small) %>
      <% end %>
    </div>
  </div>
</div>