<div id="page_show" class="box">
  <% if !@page.locked or admin? %>
    <div class="info">
      <%= link_to comments_page_path(@page.slug) do %>
        <%= @page.comments_count %> 条评论
      <% end %>, 
      版本 <%= render_page_version(@page) %>， <%= t("common.last_modified_at")%> <%= render_page_updated_at(@page) %>
      <%= render_edit_page_button(@page)  if can? :edit, @page %>
    </div>
  <% end %>
  <div style="text-align:right;">
    <%= social_share_button_tag h("#{@page.title} via: @#{Setting.twitter_id} ") %>
  </div>

  <div class="wikistyle">
    <%= raw @page.body_html %>
  </div>
  <div class="editors">
    <div class="pull-right">
      <%= link_to "发表评论", comments_page_path(@page.slug, :anchor => "new_comment"), :class => "btn btn-success" %>
    </div>
    <h3><%= t("pages.wiki_page_contributors")%></h3>
    <div>
      <% @page.editors.each do |item| %>
        <%= user_avatar_tag(item, :small) %>
      <% end %>
    </div>
  </div>
</div>

