<%= render "base" %>
<%= content_for :sitemap do %><li class="active">查看</li><% end %>

<div id="page_show" class="box">
  <% if !@page.locked or admin? %>
    <div class="info">
      最后更新于 <%= timeago @page.updated_at %>
      <% if wiki_editor? %>
      <a href="<%= edit_page_path(@page) %>">编辑</a>
      <% end %>
    </div>
  <% end %>
  <div class="wikistyle">
    <%= raw @page.body_html %>
  </div>
  <div class="editors">
    <h3>本页贡献者:</h3>
    <div>
      <% @page.editors.each do |item| %>
        <%= user_avatar_tag(item, :small) %>
      <% end %>
    </div>
  </div>
</div>