<p id="notice"><%= notice %></p>

<p>
  <b>Slug:</b>
  <%= @page.slug %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Body:</b>
  <%= @page.body %>
</p>

<p>
  <b>Body html:</b>
  <%= @page.body_html %>
</p>

<p>
  <b>Editors:</b>
  <%= @page.editors %>
</p>

<p>
  <b>Locked:</b>
  <%= @page.locked %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
