<%= form_for(@reply, :url => (@reply.id.blank? ? cpanel_replies_path : cpanel_reply_path(@reply.id))) do |f| %>
<fieldset>
   <legend></legend>
   <%= render 'shared/error_messages', :target => @reply %>

  <div class="clearfix">
    <%= f.label :body %>
    <div class="input">
      <%= f.text_area :body, :class => "long", :style => "height:400px" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :user_id %>
    <div class="input">
    <%= f.text_field :user_id %> <%= @reply.user.login %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :source %><div class="input">
    <%= f.text_field :source %></div>
  </div>
  <div class="actions">
    <%= f.submit t("common.save"), :class => "btn primary", :disable_with => t("common.saving") %>
    or
    <%= link_to 'Back', cpanel_replies_path %>
  </div>
<% end %>
