<%= simple_form_for([:cpanel,@reply]) do |f| %>
  <%= render 'shared/error_messages', target: @reply %>
  <fieldset>
    <legend></legend>
    <%= f.input :body, as: :text, input_html: { class: "span8", rows: "10"} %>
    <%= f.input :user_id %>
    <%= f.input :source %>
    <div class="form-actions">
      <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      or
      <%= link_to 'Back', cpanel_replies_path %>
    </div>
  </fieldset>
<% end %>
