<% content_for :sitemap do %>
  <span class="current">回复</span>
<% end %>
<h1>Listing replies</h1>

<table class="grid">
  <tr class="head">
    <td class="first">Topic</td>
    <td>Body</td>
    <td>User</td>
    <td>State</td>
    <td>Source</td>
    <td></td>
  </tr>

<% @replies.each do |reply| %>
  <tr>
    <td class="first"><%= reply.topic.title %></td>
    <td><%= truncate(reply.body, :length => 50) %></td>
    <td><%= reply.user.name %></td>
    <td><%= reply.state %></td>
    <td><%= reply.source %></td>
    <td><%= link_to 'Edit', edit_cpanel_reply_path(reply) %>
    <%= link_to 'Destroy', cpanel_reply_path(reply), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

