<% content_for :sitemap do %>
  <span class="current"><%= t("admin.overview") %></span>
<% end %>

<style type="text/css">
.ac-tooltip{
  position:absolute;
  visibility:hidden;
  border : 1px solid #efefef;
  border-radius: 3px;
  background-color: white;
  opacity: .85;
  padding: 3px;
  font-size: 12px;
}
.ac-tooltip .ac-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.ac-tooltip li{
  line-height: 14px;
}
</style>

<div class="toolbar">
  <div class="btn-group">
    <a href="/admin/site_configs" class="btn btn-default"><i class="fa fa-cogs"></i> <%= t("admin.site_configs.settings") %></a>
    <a href="/admin/applications" class="btn btn-default"><i class="fa fa-cubes"></i> 三方应用</a>
    <a href="/sidekiq" class="btn btn-default" target="_blank"><i class="fa fa-tasks"></i> 异步任务...</a>
    <a href="/pghero" class="btn btn-default" target="_blank"><i class="fa fa-database"></i> 数据库状态...</a>
  </div>
</div>

<div class="clearfix">
  <h4><%= t("admin.statics") %></h4>
  <table class="table table-striped table-condensed">
    <tr>
      <td style="width:120px;"><%= t("admin.menu.users") %></td>
      <td><%= User.unscoped.count %> 人</td>
    </tr>
    <tr><td colspan="2"><div id="chart-user" class="chart"></div></td></tr>
    <tr><td><%= t("admin.menu.topics") %></td><td><%= Topic.unscoped.count %> 个</td></tr>
    <tr><td colspan="2"><div id="chart-topic" class="chart"></div></td></tr>
    <tr><td><%= t("admin.menu.replies") %></td><td><%= Reply.unscoped.count %> 条</td></tr>
    <tr><td colspan="2"><div id="chart-reply" class="chart"></div></td></tr>
    <tr><td>通知</td><td><%= Notification.unscoped.count %> 条</td></tr>
    <tr><td colspan="2"><div id="chart-notification" class="chart"></div></td></tr>
    <tr><td>图片</td><td><%= Photo.unscoped.count %> 张</td></tr>
    <tr><td colspan="2"><div id="chart-photo" class="chart"></div></td></tr>
    <% if Setting.has_module? :note %>
      <tr><td><%= t("admin.menu.notes") %></td><td><%= Note.unscoped.count %> 条</td></tr>
    <% end %>
    <tr><td>Device</td><td><%= Device.unscoped.count %> 台</td><td></td></tr>
    <tr><td>OAuth Token</td><td><%= Doorkeeper::AccessToken.count %> 条</td><td></td></tr>
  </table>

  <script src="https://as.alipayobjects.com/g/datavis/g2/2.0.5/index.js"></script>
  <script type="text/javascript">
    function createChart(source, model, color) {
      var dom = $('#chart-' + model);
      dom.html("");
      var chart = new G2.Chart({
        id: 'chart-' + model,
        width : dom.width(),
        height : 60,
        tickCount: 12,
        plotCfg: {
          margin: [10, 5]
        }
      });
      chart.source(source, {
        date: {
          type: 'time',
          alias: '时间',
          formatter: function(val) {
            var date = new Date(val);
            return (date.getMonth() + 1) + '月';
          }
        },
        count: {
          nice: true,
          type: 'linear',
          alias: '新增数量',
        }
      });
      chart.axis(false);
      chart.tooltip({
        title: ''
      });
      chart.line().color(color).position('date*count').shape('spline').tooltip('date*count').size(2);
      chart.render();
    }

    $.get("/admin/stats?model=user&by=month", function(data) {
      createChart(data, 'user', '#356DD0');
    });
    $.get("/admin/stats?model=topic&by=month", function(data) {
      createChart(data, 'topic', '#F44336');
    });
    $.get("/admin/stats?model=reply&by=month", function(data) {
      createChart(data, 'reply', '#FFB300');
    });
    $.get("/admin/stats?model=notification&by=month", function(data) {
      createChart(data, 'notification', '#795548');
    });
    $.get("/admin/stats?model=photo&by=month", function(data) {
      createChart(data, 'photo', '#03A9F4');
    });
  </script>
</div>

