<%
  form_model_name = "@#{file_name}"
  if controller_class_name.include?('::')
    namespace = controller_class_name.split('::').first.downcase
    form_model_name = "[:#{namespace},@#{file_name}]"
  end
%>
<%%= form_for(<%= form_model_name %>) do |f| %>
  <%%= render "/shared/error_messages", target: @<%= file_name %>  %>
  <% for attribute in attributes -%>
  <div class="form-group">
    <%%= f.label :<%= attribute.name %> %>
    <%%= f.text_field :<%= attribute.name %>, class: "form-control" %>
  </div>
  <% end -%>

  <div class="form-actions">
    <%%= f.submit t("common.save"), class: "btn btn-primary" %> or <%%= link_to t("common.cancel"), <%= index_helper %>_path %>
  </div>
<%% end %>
