<%= simple_form_for @team_user, url: @team_user.new_record? ? user_team_users_path(@team) : user_team_user_path(@team, @team_user) do |f| %>
  <%= render "shared/error_messages", target: @team_user %>

  <% if @team_user.new_record? %>
    <%= f.input :login %>
  <% else %>
    <div class="form-group">
      <div class="media">
        <div class="media-left">
          <%= user_avatar_tag(@team_user.user, :sm) %>
        </div>
        <div class="media-body"><%= user_name_tag(@team_user.user) %></div>
      </div>
    </div>
  <% end %>
  <%= f.input :role, as: :radio_buttons, collection: TeamUser.roles.keys %>

  <div class="form-group">
    <% if @team_user.new_record? %>
      <%= f.submit t("teams.new_team_user"), class: "btn btn-primary btn-block", 'data-disable-with' => t("common.saving") %>
    <% else %>
      <%= f.submit t("common.save"), class: "btn btn-primary btn-block", 'data-disable-with' => t("common.saving") %>
    <% end %>
  </div>

<% end %>
