<% title_tag t("teams.show_team_user") %>
<%= render '/teams/header' %>
<div class="card team-users">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-sm-offset-3 text-center">
        <h3><%= t("teams.show_team_user") %></h3>
        <p class="text-info" style="padding: 10px 0;">
          <%= t("teams.do_you_want_accept_team_user_html", team: user_name_tag(@team)) %>
        </p>
        <div class="buttons">
          <%= link_to t('teams.accept_team_user'), accept_user_team_user_path(@team, @team_user), data: { method: 'POST' }, class: 'btn btn-primary' %>
          <%= link_to t('teams.reject_team_user'), reject_user_team_user_path(@team, @team_user), data: { method: 'POST' }, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
