<div class="notifications card card-lg">
  <div class="card-body">
    <div class="card-title hide-ios flex jcsb">
      <div>
        <%= t('notifications.all_notifications') %>
        <span class="counter"><%= @notifications.total_count %></span>
      </div>
      <div class="actions">
        <%= link_to icon_tag("trash", label: t('notifications.clean_all')), notifications.clean_notifications_path, class: "text-danger", id: 'btn-remove-all', method: 'delete', remote: true %>
      </div>
    </div>
    <% if @notifications.blank? %>
      <div class="notification-group">
        <div class="no-records"><%= t('notifications.no_records') %></div>
      </div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><i class="fa fa-clock-o"></i> <%= group %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
    <script type="text/javascript">
      $.post("<%= notifications.read_notifications_path %>", { ids: <%= j @unread_ids.as_json %> })
    </script>
    <%= paginate @notifications  %>
  </div>
</div>
