<div class="box">
<%= simple_form_for @post, :wrapper => :inline do |f| %>
  <fieldset>
    <legend>投稿</legend>
    <%= render "shared/error_messages", :target => @post %>
    <%= f.input :title, :input_html => { :class => "xxlarge" } %>
    
    <%= f.input :body, :as => :text,
                :input_html => { :class => "long", :rows => "30" }
    %>
    
    <%= f.input :tag_list, :input_html => { :class => "xxlarge" }, :placeholder => "Ruby, MongoDb"  %>
    <%= f.input :source, :input_html => { :class => "span3" }, :placeholder => "Blog" %>
    
    <%= f.input :source_url, :input_html => {:class => "xxlarge"} , :placeholder => "http://" %>

    <div class="actions">
      <%= f.submit "投稿", :class => "btn primary" %>
    </div>
  </fieldset>
<% end %>
</div>