<%= render "base" %>
<% content_for :sitemap do %>
  <% if params[:tag] %>
  <li class="active"><%= params[:tag] %></li>
  <% else %>
  <li class="active">最新发布的文章</li>
  <% end %>
<% end %>
<div class="sidebar">
  <div class="box">
    <%= link_to '投稿', new_post_path, :class => "btn success" %>
  </div>
</div>

<div class="content">
  <div id="posts" class="box">
    <h1>最近发布的文章</h1>
    <ul>
    <% @posts.each do |item| %>
    <li>
      <div class="title"><%= post_title_tag(item) %></div>
      <div class="info">
        发布: <%= timeago(item.created_at) %>, <%= item.hits %> 次阅读, <a href="<%= post_path(item.id) %>#comments"><%= item.comments_count %> 条评论</a>
      </div>
    </li>
    <% end %>
    </ul>
    <%= will_paginate1 @posts %>
  </div>
</div>

