<%= simple_form_for([:cpanel,@topic]) do |f| %>
  <%= render 'shared/error_messages', :target => @topic %>
  <fieldset>
    <legend></legend>

    <%= f.input :title %>
    <%= f.input :node_id %>
    <%= f.input :user_id %>
    <%= f.input :last_reply_user_id %>
    <%= f.input :source %>
    <%= f.input :body, :as => :text %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      or
      <%= link_to 'Back', cpanel_topics_path %></div>
    </div>
  </fieldset>
<% end %>
