<% content_for :sitemap do %>
  <span class="current">帖子</span>
<% end %>
<h1>话题列表</h1>

<table class="grid">
  <tr class="head">
    <td class="first">ID</td>
    <td style="width:400px">Title</td>
    <td>Node</td>
    <td>User</td>
    <td>Replies</td>
    <td>at</td>
    <td></td>
  </tr>

<% @topics.each do |topic| %>
  <tr class="<%= 'deleted' if !topic.deleted_at.blank? %>">
    <td class="first"><%= topic.id %></td>
    <td><%= truncate(topic.title,:length => 30) %></td>
    <td><%= topic.node.name if topic.node %></td>
    <td><%= topic.user.name if topic.user %></td>
    <td><%= topic.replies_count %></td>
    <td><%= l topic.created_at,:format => :short %></td>
    <td><%= link_to '修改', edit_cpanel_topic_path(topic) %>
    <%= link_to '删除', cpanel_topic_path(topic), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate1 @topics %>
