<div class="modal" id="tip-off-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for(@tipOff, method: "post", remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <%= f.input :tip_off_type, label: '我要举报此内容，原因是', as: :radio_buttons, collection: [
              ['垃圾广告信息：恶意灌水、广告、推广、测试等内容', '垃圾广告'],
              ['违规内容：色情、暴力、血腥、敏感信息等', '违规内容'],
              ['不友善内容：人身攻击、挑衅辱骂、恶意行为', '不友善内容'],
              ['其它理由', '其它理由']
          ]%>
          <%= f.input :reporter_email, label: '联系邮箱（便于我们和您联系及反馈结果）:' %>
          <%= f.input :body, as: :text, label: t('tip_off.description') %>
          <%= f.input :content_url, as: :hidden, input_html: { value: params[:content_url] } %>
          <%= f.input :content_author_id, as: :hidden, input_html: { value: params[:content_author_id] } %>
      </div>
      <div class="modal-footer">
        <%= f.submit t('common.tip_off'), class: "btn btn-primary", 'data-disable-with' => t("common.saving")%>
        <a class="btn btn-default" data-dismiss="modal"><%=t('common.cancel')%></a>
      </div>
      <% end %>
    </div>
  </div>
</div>
