<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t("users.register_user")%></div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: ""}) do |f| %>
        <%= render "shared/error_messages", target: resource %>
        <div class="form-group">
          <%= f.text_field :login, type: :email, class: "form-control", placeholder: t("users.login"), hint: t("users.suggest_using_twitter_id") %>
        </div>
        <div class="form-group">
          <%= f.text_field :email, type: :email, class: "form-control", placeholder: t("mongoid.attributes.user.email") %>
        </div>
        <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: t("mongoid.attributes.user.password") %>
        </div>
        <div class="form-group">
          <%= f.submit t('users.submit_new_user'), class: "btn btn-primary btn-lg btn-block", 'data-disable-with' => t("common.submitting") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t("users.register_benefits")%></div>
      <div class="panel-body">
        <ul>
          <li>关注大牛的一举一动</li>
          <li>让更多人认识你</li>
          <li>不错过最新动态</li>
        </ul>
      </div>
    </div>
  </div>
</div>
