<%= render "base" %>
<div id="users">
  <div class="info"><%= t("cities.current_have") %> <%= @cities.count %> <%= t("cities.cities_joined") %> <%= Setting.app_name %>。</div>
  <div id="hot_users" class="user_list box row">
    <h2><%= t("cities.hot_cities") %></h2>
    <%= render_cell :cities, :active_cities, :cities => @cities %>
  </div>
</div>
