<%= simple_form_for([:cpanel,@node]) do |f| %>
  <%= render 'shared/error_messages', :target => @node %>
  <fieldset>
    <legend></legend>
    <%= f.input :name %>
    <%= f.input :section, :collection => Section.all.collect { |s| [s.name,s.id] } %>
    <%= f.input :sort %>
    <%= f.input :summary, :input_html => {:class => "xxlarge"} %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", :disable_with => t("common.saving") %>
      <%= link_to 'Back', cpanel_nodes_path %>
    </div>
  </fieldset>
<% end %>
