<%= form_for([:cpanel,@node]) do |f| %>
  <%= render 'shared/error_messages', :target => @node %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.select :section_id, Section.all.collect { |s| [s.name,s.id] } %>
  </div>
  <div class="field">
    <%= f.label :sort %><br />
    <%= f.text_field :sort %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :class => "middle",:style => "height:80px;" %>
  </div>
  <div class="actions">
    <button class="button submit">保存</button> <%= link_to 'Back', cpanel_nodes_path %>
  </div>
<% end %>
