<%= form_for([:cpanel,@node]) do |f| %>
  <fieldset>
    <legend></legend>
    <%= render 'shared/error_messages', :target => @node %>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
      <%= f.text_field :name %></div>
    </div>
    <div class="clearfix">
      <%= f.label :section_id %>
      <div class="input">
      <%= f.select :section_id, Section.all.collect { |s| [s.name,s.id] } %></div>
    </div>
    <div class="clearfix">
      <%= f.label :sort %>
      <div class="input">
      <%= f.text_field :sort %></div>
    </div>
    <div class="clearfix">
      <%= f.label :summary %>
      <div class="input">
        <%= f.text_area :summary, :class => "xxlarge",:style => "height:80px;" %>
      </div>
    </div>
    <div class="actions">
      <button class="btn primary"><%= t("common.save")%></button> <%= link_to 'Back', cpanel_nodes_path %>
    </div>
  </fieldset>
<% end %>
