<%= form_for(@node, :url => (@node.id.blank? ? cpanel_nodes_path : cpanel_node_path(@node.id)) ) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.select :section_id, Section.all.collect { |s| [s.name,s.id] } %>
  </div>
  <div class="field">
    <%= f.label :sort %><br />
    <%= f.text_field :sort %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :class => "middle",:style => "height:80px;" %>
  </div>
  <div class="actions">
    <button class="submit">保存</button>
  </div>
<% end %>
