<p class="lead">你好 <%= @resource.fullname %></p>
<p>有人请求找回在 <%= link_to Setting.app_name, root_url %> 上面，账号为 <span class="text-danger"><%= @resource.login %></span> 的密码，如果你是，那么你可以通过下面的连接进入网站修改密码。</p>
<p><%= link_to "修改我的密码", edit_password_url(@resource, reset_password_token: @token), class: 'btn' %></p>
<p>如果看不到连接，请复制下面的连接然后在浏览器里面打开：</p>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
<p class="text-muted">如果你没有申请，可以忽略这封邮件，你的账号不会受到影响。</p>
