<% content_for :sitemap do %>
  <a href="<%= admin_users_path %>"><%= t("admin.menu.users")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.edit")%></span>
<% end %>
<% if @user.user_type == :user %>
  <div class="toolbar">
    <div class="form-inline">
      <%= link_to t('admin.users.Delete recent 10 photos'), clean_admin_user_path(@user, type: 'photos'),
                method: 'delete', class: 'btn btn-sm btn-outline-danger',
                data: { confirm: 'This action is not recoverable, are you sure?' } %>
      <%= link_to t('admin.users.Delete recent 10 topics'), clean_admin_user_path(@user, type: 'topics'),
                method: 'delete', class: 'btn btn-sm btn-outline-danger',
                data: { confirm: 'This action is not recoverable, are you sure?' } %>
      <%= link_to t('admin.users.Delete recent 10 replies'), clean_admin_user_path(@user, type: 'replies'),
                method: 'delete', class: 'btn btn-sm btn-outline-danger',
                data: { confirm: 'This action is not recoverable, are you sure?' } %>
      <%= link_to t('admin.users.Delete recent 10 notes'), clean_admin_user_path(@user, type: 'notes'),
                method: 'delete', class: 'btn btn-sm btn-outline-danger',
                data: { confirm: 'This action is not recoverable, are you sure?' } %>
    </div>
  </div>
<% end %>
<%= render 'form' %>
