<% content_for :sitemap do %>
  <a href="<%= admin_users_path %>"><%= t("admin.menu.users")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.edit")%></span>
<% end %>

<% if @user.user_type == :user %>
<div class="toolbar clearfix">
  <span class="pull-right">
    <%= link_to '删除他的最近 10 条回帖', clean_admin_user_path(@user, type: 'replies'),
                method: 'delete', class: 'btn btn-warning',
                data: { confirm: '注意！！！此动作是直接删除，无法恢复的，你确定要删除他的所有回帖么？' } %>
  </span>
</div>
<% end %>

<%= render 'form' %>
