<div id="site" class="panel panel-default">
  <div class="panel-heading">提交酷站</div>
  <div class="panel-body">
    <%= simple_form_for(@site) do |f| %>
      <%= render "/shared/error_messages", target: @site  %>
        <%= f.input :site_node_id, collection: SiteNode.all.collect { |t| [t.name, t.id] }, include_blank: false %>

        <%= f.input :name %>
        <%= f.input :url, input_html: { class: "xxlarge" }, placeholder: "http://"  %>
        <%= f.input :desc, as: :text, input_html: { class: "xxlarge", rows: "3" } %>

        <div class="form-group">
          <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
          or
          <%= link_to t("common.cancel"), sites_path %>
        </div>
      <% end %>
    </div>
</div>
