<div id="site" class="box form">
<%= simple_form_for(@site) do |f| %>
  <%= render "/shared/error_messages", :target => @site  %>
  <fieldset>
    <legend><%= t("sites.create") %></legend>
    <%= f.input :name %>
    <%= f.input :url, :input_html => { :class => "xxlarge" }, :placeholder => "http://"  %>
    <%= f.input :desc, :as => :text, :input_html => { :class => "xxlarge", :rows => "3" } %>
    <%= f.input :site_node_id, :collection => SiteNode.all.collect { |t| [t.name, t.id] }, :include_blank => false %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      or
      <%= link_to t("common.cancel"), sites_path %>
    </div>
  </fieldset>
<% end %>
</div>
