<% content_for :sitemap do %>
  <span class="current"><%= t("cpanel.overview") %></span>
<% end %>

<% if !@recent_topics.blank? %>
<div class="group">
  <h2><%= t("cpanel.recent_topics") %></h2>
  <ul>
    <% @recent_topics.each do |item| %>
    <li><a href="<%= edit_cpanel_topic_path(item) %>"><%= truncate(item.title,:length => 50) %></a></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="group">
  <h2><%= t("cpanel.statics") %></h2>
  <ul>
        <li><%= t("cpanel.menu.users") %>: <%= User.count %> 人</li>
        <li><%= t("cpanel.menu.topics") %>: <%= Topic.count %> 个</li>
        <li><%= t("cpanel.menu.replies") %>: <%= Reply.count %> 条</li>
        <li><%= t("cpanel.menu.notes") %>: <%= Note.count %> 条</li>
  </ul>
</div>

