<% content_for :sitemap do %>
  <a href="<%= admin_pages_path %>">Wiki</a> <i class="fa fa-angle-right"></i>
  <a href="<%= edit_admin_page_path(params[:page_id]) %>">Page:<%= params[:page_id] %></a> <i class="fa fa-angle-right"></i>
  <a href="<%= admin_page_versions_path(params[:page_id]) %>">版本历史</a> <i class="fa fa-angle-right"></i>
  <span class="current">明细</span>
<% end %>
<div class="pull-right">
  <%= link_to 'Revert', revert_admin_page_version_path(@page_version.page_id, @page_version.id), 'data-confirm' => 'Are you sure?', method: :post, class: "btn btn-danger" %>
</div>
<div class="field">
  <%= user_name_tag @page_version.user %> 修改与 <%= l @page_version.created_at, format: :long %>
</div>
<div class="field">
  Slug: <%= @page_version.slug %>
</div>
<div class="field">
  Title: <%= @page_version.title %>
</div>

<%= @page_version.body_html %>