<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.app_name %> - 控制台</title>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
 <div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle</span>
            <i class="fa fa-reorder"></i>
          </button>
          <%= link_to("控制台", main_app.admin_root_path, class: "navbar-brand") %>
        </div>
        <nav class="collapse navbar-collapse" id="main-navbar-collapse">
          <%= render_list class: "nav navbar-nav" do |li|
            li << link_to(t("admin.menu.root_path"), main_app.admin_root_path)
            li << link_to(t("admin.menu.users"), main_app.admin_users_path)
            li << link_to(t("admin.menu.sections"), main_app.admin_sections_path )
            li << link_to(t("admin.menu.nodes"), main_app.admin_nodes_path )
            li << link_to(t("admin.menu.topics"), main_app.admin_topics_path)
            li << link_to(t("admin.menu.replies"), main_app.admin_replies_path)
            li << link_to(t("admin.menu.comments"), main_app.admin_comments_path )
            li << link_to(t("admin.menu.photos"), main_app.admin_photos_path )
            li << link_to(t("admin.menu.locations"), main_app.admin_locations_path )
            Homeland.admin_navbar_plugins.each do |plugin|
              li << link_to(plugin.display_name, plugin.admin_path)
            end
          end  %>
        </nav>

        <%= render "shared/usernav" %>
      </div>
    </div>
  </div>


  <div class="main-container container">
    <div class="breadcrumb">
      <a href="<%= main_app.admin_root_path %>">控制台</a> <i class="fa fa-angle-right"></i>
      <%= yield :sitemap %>
    </div>
    <div id="main" class="panel panel-default">
      <div class="panel-body">
        <%= notice_message %>
        <%= yield %>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="suggest">使用 <a href="http://www.mozillaonline.com/" target="_blank" rel="nofollow">Firefox</a> 或 <a href="http://www.google.com/chrome" target="_blank" rel="nofollow">Chrome</a> 浏览访问本站将会获得更佳的视觉体验.</p>
    </div>
  </footer>
</body>
</html>
