<!DOCTYPE html>
<html>
  <head>
    <meta name="theme" content="<%= user_theme %>">
    <title><%= Setting.app_name %> - Admin Panel</title>
    <%= stylesheet_pack_tag "admin" %>
    <%= javascript_pack_tag "application", defer: false %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="header">
      <div class="header navbar navbar-expand flex-md-row bd-navbar">
        <div class="container mx-auto sm:flex">
          <div class="navbar-header hidden md:flex items-center" data-turbolinks-permanent>
            <%= link_to("Admin Panel", main_app.admin_root_path, class: "navbar-brand") %>
          </div>
          <div class="navbar-nav-scroll">
            <%= render_list class: "nav navbar-nav" do |li|
            li << link_to(t("admin.menu.root_path"), main_app.admin_root_path, class: "nav-link")
            li << link_to(t("admin.menu.users"), main_app.admin_users_path, class: "nav-link")
            li << link_to(t("admin.menu.nodes"), main_app.admin_nodes_path, class: "nav-link")
            li << link_to(t("admin.menu.topics"), main_app.admin_topics_path, class: "nav-link")
            li << link_to(t("admin.menu.replies"), main_app.admin_replies_path, class: "nav-link")
            li << link_to(t("admin.menu.comments"), main_app.admin_comments_path, class: "nav-link")
            li << link_to(t("admin.menu.photos"), main_app.admin_photos_path, class: "nav-link")
            li << link_to(t("admin.menu.locations"), main_app.admin_locations_path, class: "nav-link")
            Homeland.admin_navbar_plugins.each do |plugin|
              li << link_to(plugin.display_name, plugin.admin_path, class: "nav-link")
            end
          end  %>
          </div>
          <div class="ml-auto md:flex">
            <%= render "shared/usernav" %>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div id="main" class="card">
        <div class="card-body">
          <% if Setting.require_restart == true %>
            <div class="alert alert-warning">
              System settings have been updated, need to restart the application to take effect <%= link_to icon_tag("power-off", label: "Reboot now"), main_app.reboot_admin_dashboards_path, data: { method: :post, confirm: "Are you sure to reboot Homeland?", disable_with: "Rebooting..." }, class: "text-danger float-right" %>
            </div>
          <% end %>
          <%= render AlertComponent.new %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container mx-auto">
        <p>Powered by <a href="https://github.com/ruby-china/homeland/blob/master/CHANGELOG.md">Homeland <%= Homeland.version %></a></p>
      </div>
    </footer>
  </body>
</html>
