<!DOCTYPE html>
<html>
<head>
  <title><%= raw @page_title %><%= Setting.app_name %></title>
  <%= stylesheet_link_tag "front" %>
	<%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= csrf_meta_tag %>
	<%= javascript_include_tag "application" %>
	<%= auto_discovery_link_tag(:rss,feed_topics_url,:title => '订阅最新贴') %>
	<%= yield :scripts %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3>
          <a href="/"><%= Setting.app_name %></a>
        </h3>
        <ul class="nav">
          <li<%= ' class=active' if ["topics","replies"].include?(controller_name) %>><a href="<%= topics_path %>">社区</a></li> 
          <li<%= ' class=active' if ["pages"].include?(controller_name) %>><a href="/wiki">Wiki</a></li>
          <li<%= ' class=active' if ["posts"].include?(controller_name) %>><a href="<%= posts_path %>">文章</a></li>
          <li<%= ' class=active' if ["users"].include?(controller_name) %>><a href="<%= users_path %>">会员</a></li>
        </ul>
        <form action="<%= search_topics_path %>" class="pull-left" method="get">
      		<input type="text" name="key" placeholder="搜索" <% if params[:action] == "search" and params[:key] %>value="<%= params[:key] %>"<% end %> />
      	</form>
        <% if user_signed_in? %>
        <ul class="nav secondary-nav" id="userbar">
          <%
            notification_class = ["notifications"]
            notification_class << "unread" if current_user.notifications.unread.count > 0
            notification_class << "active" if ["notifications"].index(params[:controller])
          %>
          <%= content_tag 'li', :class => notification_class do %>
            <%= content_tag 'a', :href => notifications_path do %>
              <span class="count"><%= current_user.notifications.unread.count %></span>
            <% end %>
          <% end %>
          <li>
            <%= link_to(current_user.login,user_path(current_user.login), :class => "dropdown-toggle")%>
            <%= render_list :class => "dropdown-menu" do |li|
              li << link_to("我的主页", user_path(current_user.login) )
              unless params[:controller].match(/cpanel/)
                li << link_to("个人资料设置",edit_user_registration_path)
                li << link_to("记事本", notes_path )
                li << link_to("后台", "/cpanel")
              end
              li << link_to("退出", destroy_user_session_path )
            end %>
          </li>
        </ul>
        <% else %>
          <ul class="nav secondary-nav" id="userbar">
            <li<%=' class=active' if params[:controller] == "devise/registrations" and params[:action] == "new" %>><a href="<%= new_user_registration_path %>">注册</a></li>
            <li<%=' class=active' if params[:controller] == "devise/sessions" and params[:action] == "new" %>><a href="<%= new_user_session_path %>">登录</a></li> 
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Root</a> <span class="divider">/</span></li>
      <%= yield :base_sitemap %> <%= yield :sitemap %>
    </ul>
    <div id="main" class="container-fluid">
      <%= notice_message %>
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <%= raw SiteConfig.footer_html %>
    </div>
  </footer>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= Setting.google_analytics_key %>']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
