<!DOCTYPE html>
<html>
<head>
  <title><%= raw @page_title %><%= APP_CONFIG['app_name'] %></title>
  <%= stylesheet_link_tag "application","front","jquery.jdialog", :cache => "cached_front" %>
	<%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="/favicon.ico?v=001" /> 
  <%= csrf_meta_tag %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<%= javascript_include_tag "rails","jquery.jdialog","application", :cache => "cached_application" %>
	<%= auto_discovery_link_tag(:rss,feed_topics_url,:title => '订阅最新贴') %>
	<%= yield :scripts %>
</head>
<body>
  <div id="header" class="shadow">
    <div class="container">
      <table>
        <tr>
          <td id="app_name">
            <a href="/"><%= APP_CONFIG['app_name'] %></a> <em>Beta</em>
          </td>
          <td id="userbar">
						<%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="sitemap" class="container">
    导航: <a href="<%= topics_path %>"><%= APP_CONFIG['app_name'] %></a> <%= yield :base_sitemap %> &gt; <%= yield :sitemap %>
  </div>
  <div id="main" class="container">
    <%= yield %>
  </div>
  <div id="footer" class="container">
    <p class="copyright">
    <%= raw APP_CONFIG['foot_html'] %>
    </p>
		<p class="suggest">目前版本: <%= APP_VERSION %>，使用 <a href="http://www.mozillaonline.com/" target="_blank" rel="nofollow">Firefox</a> 或 <a href="http://www.google.com/chrome" target="_blank" rel="nofollow">Chrome</a> 浏览访问本站将会获得更佳的视觉体验.</p>
  </div>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= APP_CONFIG['google_analytics_key'] %>']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
