<!DOCTYPE html>
<html>
<head>
  <title><%= raw @page_title %><%= Setting.app_name %></title>
  <%= stylesheet_link_tag "front" %>
	<%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= csrf_meta_tag %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js"></script>
	<%= auto_discovery_link_tag(:rss,feed_topics_url,:title => '订阅最新贴') %>
	<%= yield :scripts %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3>
          <a href="/"><%= Setting.app_name %></a>
        </h3>
        <ul class="nav">
          <li<%= ' class=active' if ["topics","replies"].index(params[:controller]) %>><a href="<%= topics_path %>">论坛</a></li> 
          <li<%= ' class=active' if ["pages"].index(params[:controller]) %>><a href="/wiki">Wiki</a></li>
          <li<%= ' class=active' if ["posts"].index(params[:controller]) %>><a href="<%= posts_path %>">文章</a></li>
        </ul>
        <form action="<%= search_topics_path %>" class="pull-left" method="get">
      		<input type="text" name="key" placeholder="搜索" <% if params[:action] == "search" and params[:key] %>value="<%= params[:key] %>"<% end %> />
      	</form>
        <% if user_signed_in? %>
        <ul class="nav secondary-nav" id="userbar">
          <%
            notification_class = ["notifications"]
            notification_class << "unread" if current_user.notifications.unread.count > 0
            notification_class << "active" if ["notifications"].index(params[:controller])
          %>
          <%= content_tag 'li', :class => notification_class do %>
            <%= content_tag 'a', :href => notifications_path do %>
              <span class="count"><%= current_user.notifications.unread.count %></span>
            <% end %>
          <% end %>
          <li>
            <a href="<%= user_path(current_user.login) %>" class="dropdown-toggle"><%= current_user.login %></a>
            <ul class="dropdown-menu">
              <li><a href="<%= user_path(current_user.login) %>">我的主页</a></li>
              <% if not params[:controller].match(/cpanel/) %>
                <li><a href="<%= edit_user_registration_path %>">个人资料设置</a></li>
                <li><a href="<%= notes_path %>">记事本</a></li>
                <% if admin? current_user %><li><a href="/cpanel">后台</a></li><% end %>
              <% end %>
              <li><a href="<%= destroy_user_session_path %>">退出</a></li>
            </ul>
          </li>
        </ul>
        <% else %>
          <ul class="nav secondary-nav" id="userbar">
            <li<%=' class=active' if params[:controller] == "devise/registrations" and params[:action] == "new" %>><a href="<%= new_user_registration_path %>">注册</a></li>
            <li<%=' class=active' if params[:controller] == "devise/sessions" and params[:action] == "new" %>><a href="<%= new_user_session_path %>">登录</a></li> 
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>">Root</a> <span class="divider">/</span></li>
      <%= yield :base_sitemap %> <%= yield :sitemap %>
    </ul>
    <div id="main" class="container-fluid">
      <%= notice_message %>
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <%= raw SiteConfig.footer_html %>
    </div>
  </footer>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= Setting.google_analytics_key %>']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
