<!--
      ____        __             ________    _
     / __ \__  __/ /_  __  __   / ____/ /_  (_)___  ____ _
    / /_/ / / / / __ \/ / / /  / /   / __ \/ / __ \/ __ `/
   / _, _/ /_/ / /_/ / /_/ /  / /___/ / / / / / / / /_/ /
  /_/ |_|\__,_/_.___/\__, /   \____/_/ /_/_/_/ /_/\__,_/
                    /____/
  ========================================================
                                            ruby-china.org

  App Environments:

  - Ruby:  <%= RUBY_VERSION %><%= "-p#{RUBY_PATCHLEVEL}" if defined? RUBY_PATCHLEVEL %>
  - Rails: <%= Rails.version %>
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta content='True' name='HandheldFriendly' />
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" />
  <link rel="alternate" type="application/rss+xml" title="订阅最新帖" href="<%= main_app.feed_topics_url %>" />
  <link rel="mask-icon" href="<%= asset_path("mask.svg") %>"/>
  <%= stylesheet_link_tag "front", 'data-turbolinks-track': "reload" %>
  <%= stylesheet_link_tag "turbolinks-app", 'data-turbolinks-track': 'reload' if turbolinks_app? %>
  <%= action_cable_meta_tag %>
  <%= javascript_include_tag "app", 'data-turbolinks-track': "reload" %>
  <script src="//ruby-china-files.b0.upaiyun.com/assets/d3.min.js" data-turbolinks-track="reload" type="text/javascript"></script>
  <script src="//ruby-china-files.b0.upaiyun.com/assets/cal-heatmap.min.js" data-turbolinks-track="reload" type="text/javascript"></script>
  <%= csrf_meta_tag %>
  <%= raw Setting.custom_head_html %>
  <% if current_user %>
    <meta name="current-user" data-user-id="<%= current_user.id %>" data-user-login="<%= current_user.login %>" data-user-name="<%= current_user.name %>" data-user-email="<%= current_user.email %>" data-user-avatar-url="<%= current_user.avatar? ? current_user.avatar.url(:md) : current_user.letter_avatar_url(96) %>">
  <% end %>
</head>
<body class="page-<%= controller_name %><%= ' infinite-scroll' if turbolinks_app? %>" data-controller-name="<%= controller_name %>">
  <div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header" id="navbar-header" data-turbolinks-permanent>
          <a href="/" class="navbar-brand"><b>Ruby</b> China</a>
        </div>

        <div id="main-nav-menu">
          <%= render_list class: "nav navbar-nav" do |li|
             li << link_to(t("menu.topics"), main_app.topics_path)
             li << link_to(t("menu.wiki"), main_app.pages_path) if !mobile?
             li << link_to(t("menu.jobs"), main_app.jobs_path)
             li << link_to(t("menu.sites"), main_app.sites_path) if !mobile?
             li << link_to(t("menu.gems"), 'https://gems.ruby-china.org', target: '_blank') if !mobile?
          end %>
        </div>

        <%= render "common/user_nav" %>

        <ul class="nav navbar-nav user-bar navbar-right">
          <li class="nav-search hidden-xs hidden-sm">
            <form class="navbar-form form-search active" action="/search" method="GET">
              <div class="form-group">
                <input class="form-control" name="q" type="text" value="<%= params[:q] %>" placeholder="搜索本站内容" />
              </div>
              <i class="fa btn-search fa-search"></i>
            </form>
          </li>
          <% if current_user %>
          <%
          badge_class = ""
          badge_class = "new" if unread_notify_count > 0
          %>
          <li class="notification-count">
            <a href="<%= main_app.notifications_path %>" class="<%= badge_class %>" title="通知"><i class="fa fa-bell"></i><span class="count"><%= unread_notify_count %></span></a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-plus"></i> <span class="caret"></span>
            </a>
            <%= render_list class: "dropdown-menu", role: "menu" do |li|
              li << link_to(t("topics.new_topic"), main_app.new_topic_path)
              li << link_to(t("notes.new_note"), main_app.new_note_path)
              if can? :create, Team
                li << "<div class='divider'></div>"
                li << link_to(t("teams.new_team"), main_app.new_team_path)
              end
            end %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <%= yield :sub_navbar %>

  <div id="main" class="main-container container">
    <%= birthday_tag %>
    <%= notice_message %>
    <%= yield %>
  </div>

  <% if not mobile? %>
  <footer class="footer" id="footer" data-turbolinks-permanent>
    <div class="container">
      <%= raw Setting.footer_html %>
    </div>
  </footer>
  <% end %>

  <% if mobile? %>
    <script type="text/javascript">
    App.mobile = true;
    </script>
  <% end %>
  <script type="text/javascript" data-turbolinks-eval="false">
    App.root_url = "<%= main_app.root_url %>";
    App.asset_url = "<%= Setting.upload_url -%>";
    App.twemoji_url = "<%= Twemoji.configuration.asset_root %>";
    App.locale = "<%= I18n.locale %>";
    <% if current_user %>
      App.current_user_id = <%= current_user.id %>;
    <% end %>
    <% if turbolinks_app? %>
      App.turbolinks = true;
    <% end %>
  </script>
  <%= yield :scripts %>
  <script>
    ga('create', '<%= Setting.google_analytics_key %>', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <div class="zoom-overlay"></div>
</body>
</html>
