<!DOCTYPE html>
<html>
<head>
  <title><%= raw @page_title %><%= APP_CONFIG['app_name'] %></title>
  <%= stylesheet_link_tag "application","front","jquery.jdialog", :cache => "cached_front" %>
	<%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <%= csrf_meta_tag %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<%= javascript_include_tag "rails","jquery.jdialog", :cache => "cached_application" %>
	<%= yield :scripts %>
</head>
<body>
  <div id="header" class="shadow">
    <div class="container">
      <table>
        <tr>
          <td id="app_name">
            <a href="/"><%= APP_CONFIG['app_name'] %></a> <em>Beta</em></span>
          </td>
          <td id="userbar">
						<% if @current_user %>
	 	           你好 <strong><%= @current_user.name %></strong>
							<a<%= " class='actived'" if params[:controller] == "cpanel/sections" %> href="#">相册</a>
							<a<%= " class='actived'" if params[:controller] == "cpanel/sections" %> href="#">计划</a>
              <a<%= " class='actived'" if params[:controller] == "cpanel/notes" %> href="<%= notes_path %>">记事本</a>
	            <a<%= " class='actived'" if params[:controller] == "cpanel/nodes" %> href="#">记账</a>
							<%= link_to "设置", setting_path, :class => params[:controller] == "user/edit" ? 'actived' : "" %>
							<a href="<%= logout_path %>">登出</a>
						<% else %>
							<a href="<%= register_path %>">加入社区</a> | <a href="<%= login_path %>">登录</a>
						<% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="sitemap" class="container">
    导航: <a href="<%= root_path %>"><%= APP_CONFIG['app_name'] %></a> &gt; <%= yield :sitemap %>
  </div>
  <div id="main" class="container">
    <%= yield %>
  </div>
  <div id="footer" class="container">
		<p class="suggest">使用 <a href="http://www.mozillaonline.com/" target="_blank" rel="nofollow">Firefox</a> 或 <a href="http://www.google.com/chrome" target="_blank" rel="nofollow">Chrome</a> 浏览访问本站将会获得更佳的视觉体验.</p>
  </div>
</body>
</html>
