<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag "front" %>
  <%= yield :styles %>
  <% if mobile? %>
    <%= stylesheet_link_tag "mobile" %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% end %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss,feed_topics_url,:title => '订阅最新帖') %>
  <%= yield :node_feed_link %>
</head>
<body data-offset="50">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h3>
          <a href="/"><%= image_tag("text_logo.png") %></a>
        </h3>
        <%= render_list :class => "nav" do |li|
           li << link_to(t("menu.topics"), topics_path)
           li << link_to(t("menu.wiki"), pages_path )
           li << link_to(t("menu.sites"), sites_path )
           li << link_to(t("menu.users"), users_path)
        end %>
        <%= render "common/search_form" %>
        <%= render "common/user_nav" %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= render_breadcrumb %>
    </div>
    <%= render "common/feeds" %>

    <%= notice_message %>
    <div id="main" class="container-fluid">
      <%= yield %>
    </div>    
  </div>
  
  <% if not mobile? %>
  <a class="go_top" href="#"><i class="icon icons_go_top"></i></a>
  <footer class="footer">
    <div class="container">
      <%= raw SiteConfig.footer_html %>
    </div>
  </footer>
  <% end %>
  
  <%= javascript_include_tag "app" %>
  <% if mobile? %>
    <script type="text/javascript">app_mobile = true;</script>
  <% end %>
  <%= yield :scripts %>
  <%= render :partial => "common/google_analytics"%>
  
</body>
</html>
