<!DOCTYPE html>
<html>
<head>
  <title><%= raw @page_title %><%= Setting.app_name %></title>
  <%= stylesheet_link_tag "front" %>
    <%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= csrf_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= auto_discovery_link_tag(:rss,feed_topics_url,:title => '订阅最新贴') %>
    <%= yield :scripts %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3>
          <a href="/"><%= Setting.app_name %></a>
        </h3>
         <%= render_list :class => "nav" do |li|
           li << link_to(t("menu.topics"), topics_path)
           li << link_to(t("menu.wiki"), pages_path )
           li << link_to(t("menu.posts"), posts_path )
           li << link_to(t("menu.users"), users_path)
         end %>
        <%= render :partial => "common/search_form" %>
        <%= render :partial => "common/user_nav" %>
      </div>
    </div>
  </div>
  <div class="container">

    <%= render_breadcrumb %>

    <div id="main" class="container-fluid">
      <%= notice_message %>
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <%# raw SiteConfig.footer_html %>
    </div>
  </footer>
  
  <%= render :partial => "common/google_analytics"%>

</body>
</html>
