<!--
      ____        __             ________    _
     / __ \__  __/ /_  __  __   / ____/ /_  (_)___  ____ _
    / /_/ / / / / __ \/ / / /  / /   / __ \/ / __ \/ __ `/
   / _, _/ /_/ / /_/ / /_/ /  / /___/ / / / / / / / /_/ /
  /_/ |_|\__,_/_.___/\__, /   \____/_/ /_/_/_/ /_/\__,_/
                    /____/
  ========================================================
                                          ruby-china.org

  App Environments:
  --------------------------------------------------------
  Ruby:  <%= RUBY_VERSION %><%= "-p#{RUBY_PATCHLEVEL}" if defined? RUBY_PATCHLEVEL %>
  Rails: <%= Rails.version %>
-->
<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta charset='utf-8' />
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <%= stylesheet_link_tag "front", "data-turbolinks-track" => true %>
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta content='True' name='HandheldFriendly' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" />
  <%= auto_discovery_link_tag(:rss, feed_topics_url, title: '订阅最新帖') %>
  <%= javascript_include_tag "app", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
  <%= yield :node_feed_link %>
  <%= raw SiteConfig.custom_head_html %>
</head>
<body data-controller-name="<%= controller_name %>">
  <div class="header">
    <nav class="navbar navbar-inverse navbar-static-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle</span>
            <i class="fa fa-reorder"></i>
          </button>
          <a href="<%= mobile? ? "/topics" : "/" %>" class="navbar-brand"><b>Ruby</b> China</a>
        </div>

        <nav class="navbar-collapse bs-navbar-collapse collapse">
          <%= render_list class: "nav navbar-nav" do |li|
             li << link_to(t("menu.home"), root_path)
             li << link_to(t("menu.topics"), topics_path)
             li << link_to(t("menu.wiki"), pages_path) if !mobile?
             li << link_to(t("menu.jobs"), jobs_path)
             li << link_to(t("menu.tweets"), twitter_path) if !mobile?
             li << link_to(t("menu.sites"), sites_path) if !mobile?
          end %>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-search hidden-xs">
              <form class="navbar-form form-search" action="/search" method="GET">
                <div class="form-group">
                  <input class="form-control" name="q" type="text" value="<%= params[:q] %>" placeholder="搜索本站内容" />
                </div>
                <i class="fa btn-search fa-search"></i>
                <i class="fa btn-close fa-times-circle"></i>
              </form>
            </li>

            <%= render "common/user_nav" %>
          </ul>
        </nav>
      </div>
    </nav>
  </div>

  <div id="main" class="main-container container">
    <%= birthday_tag %>
    <%= notice_message %>
    <%= yield %>
  </div>

  <% if not mobile? %>
  <footer class="footer">
    <div class="container">
      <%= raw SiteConfig.footer_html %>
    </div>
  </footer>
  <% end %>

  <% if mobile? %>
    <script type="text/javascript">
    app_mobile = true;
    $('body').animate({ scrollTop: -1 },0);
    </script>
  <% end %>
  <script type="text/javascript" data-turbolinks-eval=false>
    App.root_url = "<%= root_url %>";
    App.asset_url = "<%= Setting.upload_url %>";
    App.faye_client_url = "<%= Setting.faye_client_url %>";
    <% if current_user %>
      App.current_user_id = <%= current_user.id %>;
      App.access_token = "<%= current_user.temp_access_token %>";
    <% end %>
  </script>
  <%= yield :scripts %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= Setting.google_analytics_key %>', 'auto');
    ga('send', 'pageview');
  </script>
  <div class="zoom-overlay"></div>
</body>
</html>
