<!DOCTYPE html>
<html>
<head>
  <title>RubyChina - Control Panel</title>
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= stylesheet_link_tag "cpanel" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <a href="<%= cpanel_root_path %>" class="brand">控制台</a>
        <ul class="nav">
          <li<%= " class=active" if params[:controller] == "cpanel/home" %>><a href="<%= cpanel_root_path %>">系统概况</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/site_configs" %>><a href="<%= cpanel_site_configs_path %>">全局设置</a></li>
          <li<%= " class=active" if params[:controller] == "cpanel/users" %>><a href="<%= cpanel_users_path %>">用户</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/sections" %>><a href="<%= cpanel_sections_path %>">分类</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/nodes" %>><a href="<%= cpanel_nodes_path %>">节点</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/posts" %>><a href="<%= cpanel_posts_path %>">文章</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/pages" %>><a href="<%= cpanel_pages_path %>">Wiki</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/topics" %>><a href="<%= cpanel_topics_path %>">帖子</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/replies" %>><a href="<%= cpanel_replies_path %>">回复</a></li>
          <li<%= " class='active'" if params[:controller] == "cpanel/photos" %>><a href="<%= cpanel_photos_path %>">图片</a></li>
        </ul>
        <ul class="nav secondary-nav" id="userbar">
          <li>
            <a href="#" class="dropdown-toggle"><%= current_user.name %></a>
            <ul class="dropdown-menu">
              <li><a href="<%= root_path %>">回到前台</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="main" class="box">
      <%= notice_message %>
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="suggest">使用 <a href="http://www.mozillaonline.com/" target="_blank" rel="nofollow">Firefox</a> 或 <a href="http://www.google.com/chrome" target="_blank" rel="nofollow">Chrome</a> 浏览访问本站将会获得更佳的视觉体验.</p>
    </div>
  </footer>
</body>
</html>
