<!DOCTYPE html>
<html>
<head>
  <title>Homeland - Control Panel</title>
  <%= stylesheet_link_tag "application","cpanel", :cache => "cached_cpanel" %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag "rails", :cache => "cached_rails" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header" class="shadow">
    <div class="container">
      <table>
        <tr>
          <td id="app_name">
            控制台 <a href="<%= root_path %>" class="out">回前台</a>
          </td>
          <td width="500" id="navbar">
            <a<%= " class='actived'" if params[:controller] == "cpanel/home" %> href="<%= cpanel_root_path %>">首页</a>
            <a<%= " class='actived'" if params[:controller] == "cpanel/users" %> href="<%= cpanel_users_path %>">用户</a>
            <a<%= " class='actived'" if params[:controller] == "cpanel/sections" %> href="<%= cpanel_sections_path %>">分类</a>
            <a<%= " class='actived'" if params[:controller] == "cpanel/nodes" %> href="<%= cpanel_nodes_path %>">节点</a>
            <a<%= " class='actived'" if params[:controller] == "cpanel/topics" %> href="<%= cpanel_topics_path %>">帖子</a>
            <a<%= " class='actived'" if params[:controller] == "cpanel/replies" %> href="<%= cpanel_replies_path %>">回复</a>
						<a<%= " class='actived'" if params[:controller] == "cpanel/photos" %> href="<%= cpanel_photos_path %>">图片</a>
          </td>
          <td id="userbar">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="sitemap" class="container">
    导航: <a href="<%= cpanel_root_path %>">控制台</a> &gt; <%= yield :sitemap %>
  </div>
  <div id="main" class="box container">
    <%= notice_message %>
    <%= yield %>
  </div>
  <div id="footer" class="container">
    <p class="suggest">使用 <a href="http://www.mozillaonline.com/" target="_blank" rel="nofollow">Firefox</a> 或 <a href="http://www.google.com/chrome" target="_blank" rel="nofollow">Chrome</a> 浏览访问本站将会获得更佳的视觉体验.</p>
  </div>
</body>
</html>
