<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <style type="text/css">
      * { margin:0; padding:0px; }
      body { padding:10px; font-size:13px; font-family: "Lucida Grande";}
      a { color:#0069D6; }
      table { width:100%; border:0; }
      table tr td { font-size:12px; }
      h1 { font-size:18px; background:#140100; color:#FFF; padding:8px;}
      p { margin:10px; padding:10px; margin-bottom:10px;}
      blockquote {
        margin-left:20px;
        margin-bottom: 18px;
        border-left: 5px solid #ddd;
      }
      blockquote p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 0;
      }
      label { color:#666; }
    </style>
    <div style="line-height:160%;">
        <%= yield %>
      </div>
      <div style="margin-top:30px;border-top:1px solid #ddd;padding:5px;">
        <div style="float:right;"><img src="http://<%= Setting.domain %><%= asset_path("logo_48.png") %>" /></div>
        <div style="padding-top:4px; line-height:160%; color:#999;">
          <%= t("mail.this_is_a_notification_mail_please_do_not_reply") %> <br />
          <a href="<%= root_url %>"><%= Setting.app_name %></a> <%= Setting.domain %>
        </div>
      </div>
    </body>
</html>