<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme" content="<%= user_theme %>">
    <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly'>
    <%= stylesheet_pack_tag "front" %>
    <%= javascript_pack_tag "application", defer: false %>
    <%= csrf_meta_tag %>
    <%= raw Setting.custom_head_html %>
  </head>
  <body data-controller-name="<%= controller_name %>">
    <div class="header flex bg-white navbar navbar-expand-md items-stretch">
      <div class="container mx-auto flex items-center relative flex-wrap md:flex-nowrap z-50">
        <div class="container mx-auto flex flex-wrap">
          <div class="navbar-header hidden sm:flex items-center text-xl font-bold" data-turbolinks-permanent>
            <%= raw Setting.navbar_brand_html %>
          </div>
          <div class="navbar-nav-scroll">
            <%= render "shared/navbar" %>
          </div>
          <div class="ml-auto flex">
            <%= render "shared/usernav" %>
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="container mx-auto">
      <%= render AlertComponent.new %>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container mx-auto">
        <%= raw Setting.footer_html %>
      </div>
    </footer>
    <script type="text/javascript" data-turbolinks-eval="false">
      App.root_url = "<%= root_url %>";
      App.asset_url = "<%= Setting.upload_url -%>";
      <% if current_user %>
        App.current_user_id = <%= current_user.id %>;
      <% end %>
    </script>
    <%= yield :scripts %>
  </body>
</html>
