<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title><%= yield(:title) || Setting.app_name %></title>
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta content='True' name='HandheldFriendly' />
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" />
  <%= stylesheet_link_tag "front" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tag %>
  <%= raw Setting.custom_head_html %>
</head>
<body data-controller-name="<%= controller_name %>">
  <div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><b>Ruby</b> China</a>
        </div>

        <div id="main-nav-menu">
          <%= render_list class: "nav navbar-nav" do |li|
             li << link_to(t("menu.topics"), main_app.topics_path)
             li << link_to(t("menu.wiki"), main_app.pages_path) if !mobile?
             li << link_to(t("menu.jobs"), main_app.jobs_path)
             li << link_to(t("menu.sites"), main_app.sites_path) if !mobile?
             li << link_to(t("menu.gems"), 'https://gems.ruby-china.org', target: '_blank') if !mobile?
          end %>
        </div>

        <%= render "common/user_nav" %>
      </div>
    </nav>
  </div>

  <div id="main" class="main-container container">
    <%= notice_message %>
    <%= yield %>
  </div>

  <% if not mobile? %>
  <footer class="footer">
    <div class="container">
      <%= raw Setting.footer_html %>
    </div>
  </footer>
  <% end %>

  <% if mobile? %>
    <script type="text/javascript">
    App.mobile = true;
    </script>
  <% end %>
  <script type="text/javascript" data-turbolinks-eval="false">
    App.root_url = "<%= root_url %>";
    App.asset_url = "<%= Setting.upload_url -%>";
    <% if current_user %>
      App.current_user_id = <%= current_user.id %>;
    <% end %>
  </script>
  <%= yield :scripts %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= Setting.google_analytics_key %>', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <div class="zoom-overlay"></div>
</body>
</html>
