<%= render 'base' %>
<div class="tools">
  <%= link_to '修改', edit_admin_site_path(@site), class: "btn btn-small btn-success" %>
  <%= link_to '返回', admin_sites_path, class: "btn btn-small" %>
</div>
<div id="admin_site">
    <p>
    <b>Name:</b>
    <%= @site.name %>
  </p>
    <p>
    <b>Url:</b>
    <%= @site.url %>
  </p>
    <p>
    <b>Desc:</b>
    <%= @site.desc %>
  </p>
    <p>
    <b>Site node:</b>
    <%= @site.site_node %>
  </p>
  </div>